.website_dev_cls .website_dev_cls .custhomeslider1main h2 {
	margin: 0 0 10px 0;
	font-size: 80px;
	font-weight: 700;
	line-height: 80px;
	color: #fff;
	text-transform: uppercase;
}
.website_dev_cls .website_dev_cls .custhomeslider1main h4 {
	color: #fff;
	font-size: 24px;
	line-height: 32px;
	margin:0 0 40px 0;
}
.website_dev_cls .website_dev_cls .custhomeslider1main h2 span {
	color: #db974a;
}
.website_dev_cls .website_dev_cls .custhomeslider1main .customBtn {
	font-family: "Poppins", sans-serif;
	font-weight: 400;
	font-size: 17px;
	letter-spacing: 2px;
	display: inline-block;
	padding: 12px 50px;
	border-radius: 30px;
	transition: ease-in-out 0.3s;
	color: #fff;
	background: #db974a;
}
.website_dev_cls .website_dev_cls .custhomeslider1main .customBtn:hover {
	background: #4ea5e0;
}
.website_dev_cls .webdevelopmentsldr p {
	color: #fff;
	font-size: 16px;
	line-height: 26px;
}
.website_dev_cls .custline {
	width: 100%;
}
.website_dev_cls .custline img {
	width: 250px !important;
}
.website_dev_cls .approachSec {
	width: 100%;
	display: inline-block;
	background: #f1f1f1;
	padding: 100px 0;
}
.website_dev_cls .approachRt {
	width: 100%;
	float: left;
}
.website_dev_cls .approachRt h2 {
	color: #0573a4;
	font-size: 69px;
	line-height: 70px;
	font-weight: 700;
	text-transform: uppercase;
}
.website_dev_cls .approachRt p {
	font-size: 16px;
	line-height: 26px;
	color: #000;
}
.website_dev_cls .multifacetedSec {
	width: 100%;
	display: inline-block;
	padding: 100px 0;
}
.website_dev_cls .multifacetedSec h2 { 
	color: #0573a4;
	font-size: 70px;
	line-height: 70px;
	font-weight: 700;
	text-transform: uppercase;
}
.website_dev_cls .multifacetedSec p {
	font-size: 16px;
	line-height: 26px;
	color: #000;
}
.website_dev_cls .multifacetedBox {
	width: 100%;
	position: relative;
	padding-left: 80px;
	margin:  0 0 30px 0;
}
.website_dev_cls .multifacetedBox h3 {
	font-size: 20px;
	font-weight: 700;
	color: #db974a;
}
.website_dev_cls .multifacetedBox h3 a {
	transition: all ease-in-out .3s;
	color: #db974a;
}
.website_dev_cls .multifacetedBox p {
	font-size: 14px;
	line-height: 24px;
	color: #000;
}
.website_dev_cls .multifacetedBoxIcon {
	position: absolute;
	top: 0;
	left: 0;
	border: 2px solid #0573a4;
	padding: 3px;
	border-radius: 6px 0 6px 0;
	text-align: center;
	transition: all ease-in-out .3s;
}
.website_dev_cls .multifacetedBoxIcon i {
	font-size: 30px;
	color: #fff;
	width: 50px;
	height: 50px;
	line-height: 45px;
	border: 1px solid #fff;
	border-radius: 6px 0 6px 0;
	transition: all ease-in-out .3s;
	background: #db974a;
}
.website_dev_cls .multifacetedBoxIcon img {
	background: #000;
	padding: 5px;
	width: 100%;
}
.website_dev_cls .multifacetedBox:hover h3 a {
color: #0573a4;
}
.website_dev_cls .multifacetedBox:hover .multifacetedBoxIcon {
background: #0573a4;
color: #fff;
border-radius: 0px 6px 0px 6px;
}
.website_dev_cls .multifacetedBox:hover .multifacetedBoxIcon i {
	border-radius: 0px 6px 0px 6px;
}
.website_dev_cls .custmobileimg {
	width: 100%;
	text-align: center;
}
.website_dev_cls .multifacetedLft {
	padding: 0 80px 0 0;
}
.multifacetedLft .multifacetedBoxIcon {
	left: auto;
	right: 0;
}
.website_dev_cls .multifacetedLft .multifacetedBoxRt {
text-align: right;
padding: 0 0 0 0 ;
}
.website_dev_cls .multifacetedhead {
	margin-bottom: 40px;
}

.website_dev_cls .custspecial .pickfromserBoxicon img {
	width: 50px;
	height:50px;
} 
.website_dev_cls .custspecial .pickfromserBox p {
	position: relative;
	z-index: 2;
	transition: all ease-in-out .3s;
	font-size: 13px;
}
.website_dev_cls .custspecial .pickfromserBox:hover p {
	color: #fff;
}
.website_dev_cls .custspecial .pickfromserBox h4 {}
.website_dev_cls .custspecial .pickfromserBox:hover::after {
    transform: translatey(0);
}

.website_dev_cls .custspecial .pickfromserBox h4 {}
.website_dev_cls .custspecial .pickfromserBox:hover::after {
    transform: translatey(0);
	background:#000;
}

.website_dev_cls .custspecial .pickfromserBoxicon svg {
	height: 70px;
	width: 70px;
}

.website_dev_cls .custspecial .pickfromserBox:hover .blue {
	fill: #fff !important;
 }
 .website_dev_cls .custspecial .pickfromserBox {
	border-radius:30px 0 30px 0;
	margin: 0 0 16px 0;
	min-height: 350px;
 }
 
 .website_dev_cls .custblue {
	 stroke: #00497c;
	 transition: all ease-in-out .3s;
 }
 .website_dev_cls .pickfromserBox:hover .custblue {
	stroke: #fff;
 }
 .website_dev_cls .custspecial {
	 padding: 70px 0 100px 0;
 }
 .website_dev_cls .laptop img {
	 width: 100%;
 }
 .website_dev_cls .custspecial .pickfromserBoxicon svg {
	height: 50px;
	width: 50px;
 }
 .website_dev_cls .custspecial .pickfromserBox h4 {
	 font-size: 17px;
 }
 .website_dev_cls .custspecial .pickfromserBox {
	padding: 20px 10px;
 }
 .website_dev_cls .multifacetedBox p {
	font-size: 13px;
	line-height: 20px;
 }

.website_dev_cls .pickfromservices {
	padding: 50px 0  100px 0;
	background: #db984a;
	text-align: center;
}
.website_dev_cls .pickfromservices h2 {
	color: #000;
	font-size: 70px;
	line-height: 70px;
	font-weight: 700;
	margin:  0 0 40px 0;
	
}
.website_dev_cls .pickfromserBox {
	width: 100%;
	background: #fff;
	padding: 40px;
	border-radius: 40px;
	min-height: 310px;
	box-shadow: rgba(0,0,0,.67) 0 0 13px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	transition: all ease-in-out .3s;
	position: relative;
	overflow: hidden;
}

.website_dev_cls .pickfromserBox::after {
	content: "";
	width: 100%;
	height: 100%;
	background: #04658f;
	position: absolute;
	z-index: 1;
	transform: translatey(100%);
	transition: all ease-in-out .3s;
}
.website_dev_cls .pickfromserBox:hover::after {
	transform:translatey(50%);
}
.website_dev_cls .pickfromserBox:hover h4 {
color: #fff;
}
.website_dev_cls .pickfromservices .col-xl-3 {
	padding: 0 8px;
}
.website_dev_cls .pickfromserBoxicon {
	position: relative;
	z-index: 2;
}
.website_dev_cls .pickfromserBox h4 {
	width: 100%;
	font-size: 20px;
	color: #000;
	font-weight: 600;
	position: relative;
	z-index: 2;
	transition: all ease-in-out .3s;
}

.website_dev_cls .pickfromserBox a {
	display: inline-block;
	background: #04658f;
	color: #fff;
	text-align: center;
	padding: 5px 30px;
	text-transform: uppercase;
	font-size: 12px;
	font-weight: 600;
	border-radius: 20px;
	letter-spacing: 1px;
	border: 2px solid #fff;
	position: relative;
	z-index: 2;
	transition: all ease-in-out .3s;
}
.website_dev_cls .pickfromserBox a:hover , .website_dev_cls .pickfromserBox a:focus {
	background: #db984a;
	color: #fff;
}
.website_dev_cls .pickfromserBoxicon img {
	height:100px;
}
.website_dev_cls .pickfromservices .row {
	padding: 0 7px;
}
/****** light box *********/
.custPortfolio {
	background: url(/wt_office_hunddle/static/src/website_development/images/portfoliobg.jpg);
	background-attachment: fixed;
	background-repeat: no-repeat;
	position: relative;
}
.custPortfolio::after {
	content: "";
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.9);
	position: absolute;
	top: 0;
	left: 0;
}
.custPortfolio h2 {
	text-align: center;
	color: #fff;
	font-size: 70px;
	line-height: 70px;
	font-weight: 700;
	position: relative;
	z-index: 2;
	text-transform: uppercase;
}
.portfolioImg {
	width: 100%;
	float: left;
	position: relative;
	margin: 30px 0 0 0;
	z-index: 2;
}
.portfolioImg ul {
	padding: 0;
	margin: 0;
}
.portfolioImg ul li {
	list-style: none;
	width: 31.3%;
	float: left;
	margin: 0 1% 25px 1%;
	overflow: hidden;
	position: relative;
	
}
.portfolioImg ul li > a:after {
	content: "";
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.5);
	position: absolute;
	top: 0;
	left: 0;
	display: inline-block;
	transition: all ease-in-out .3s;
}
.portfolioImg ul li > a {
	display: inline-block;
	border: 1px solid #ddd;
	overflow: hidden;
	width: 100%;
	float: left;
	position: relative;
	height: 250px;
	padding: 3px;
	border: 1px solid #ddd;
	
}

.portfolioImg ul li h3 {
	position: relative;
	top: -20px;
	left: 5%;
	width: 90%;
	float: left;
	color: #000;
	font-size: 20px;
	background: #fff;
	text-align: center;
	margin: 0px 0 0 0;
	padding: 10px 10px;
	text-transform: uppercase;
	transition: all ease-in-out .3s;
	
}
.portfolioImg ul li h3 a {
	color: #000;
}
.portfolioImg ul li:hover h3 {
	background: #db974a;
	color: #fff;
}
.portfolioImg ul li:hover h3 a {
	color: #fff;
}
.portfolioImg ul li > a:hover:after {
background: rgba(0, 0, 0, 0.0);
}
.portfolioImg ul li > a img {
	width: 100%;
	float: left;
	transition: all ease-in-out .3s;
}
.portfolioImg ul li > a:hover img {
	transform:scale(1.1);
}

body:after {
	content: url(/wt_office_hunddle/static/src/website_development/images/lightbox/close.png) url(/wt_office_hunddle/static/src/website_development/images/lightbox/loading.gif) url(/wt_office_hunddle/static/src/website_development/images/lightbox/prev.png) url(/wt_office_hunddle/static/src/website_development/images/lightbox/next.png);
	display: none;
  }
  
  .lightboxOverlay {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 9999;
	background-color: black;
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
	opacity: 0.8;
	display: none;
  }
  
  .lightbox {
	position: absolute;
	left: 0;
	width: 100%;
	z-index: 10000;
	text-align: center;
	line-height: 0;
	font-weight: normal;
  }
  
  .lightbox .lb-image {
	display: block;
	height: auto;
	max-width: inherit;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
  }
  
  .lightbox a img {
	border: none;
  }
  
  .lb-outerContainer {
	position: relative;
	background-color: white;
	*zoom: 1;
	width: 250px;
	height: 250px;
	margin: 0 auto;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-ms-border-radius: 4px;
	-o-border-radius: 4px;
	border-radius: 4px;
  }
  
  .lb-outerContainer:after {
	content: "";
	display: table;
	clear: both;
  }
  
  .lb-container {
	padding: 4px;
  }
  
  .lb-loader {
	position: absolute;
	top: 43%;
	left: 0;
	height: 25%;
	width: 100%;
	text-align: center;
	line-height: 0;
  }
  
  .lb-cancel {
	display: block;
	width: 32px;
	height: 32px;
	margin: 0 auto;
	background: url(/wt_office_hunddle/static/src/website_development/images/lightbox/loading.gif) no-repeat;
  }
  
  .lb-nav {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 10;
  }
  
  .lb-container > .nav {
	left: 0;
  }
  
  .lb-nav a {
	outline: none;
	background-image: url('data:image/gif;base64,R0lGODlhAQABAPAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==');
  }
  
  .lb-prev, .lb-next {
	height: 100%;
	cursor: pointer;
	display: block;
  }
  
  .lb-nav a.lb-prev {
	width: 34%;
	left: 0;
	float: left;
	background: url(/wt_office_hunddle/static/src/website_development/images/lightbox/prev.png) left 48% no-repeat;
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
	opacity: 0;
	-webkit-transition: opacity 0.6s;
	-moz-transition: opacity 0.6s;
	-o-transition: opacity 0.6s;
	transition: opacity 0.6s;
  }
  
  .lb-nav a.lb-prev:hover {
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
	opacity: 1;
  }
  
  .lb-nav a.lb-next {
	width: 64%;
	right: 0;
	float: right;
	background: url(/wt_office_hunddle/static/src/website_development/images/lightbox/next.png) right 48% no-repeat;
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
	opacity: 0;
	-webkit-transition: opacity 0.6s;
	-moz-transition: opacity 0.6s;
	-o-transition: opacity 0.6s;
	transition: opacity 0.6s;
  }
  
  .lb-nav a.lb-next:hover {
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
	opacity: 1;
  }
  
  .lb-dataContainer {
	margin: 0 auto;
	padding-top: 5px;
	*zoom: 1;
	width: 100%;
	-moz-border-radius-bottomleft: 4px;
	-webkit-border-bottom-left-radius: 4px;
	border-bottom-left-radius: 4px;
	-moz-border-radius-bottomright: 4px;
	-webkit-border-bottom-right-radius: 4px;
	border-bottom-right-radius: 4px;
  }
  
  .lb-dataContainer:after {
	content: "";
	display: table;
	clear: both;
  }
  
  .lb-data {
	padding: 0 4px;
	color: #ccc;
  }
  
  .lb-data .lb-details {
	width: 85%;
	float: left;
	text-align: left;
	line-height: 1.1em;
  }
  
  .lb-data .lb-caption {
	font-size: 13px;
	font-weight: bold;
	line-height: 1em;
  }
  
  .lb-data .lb-number {
	display: block;
	clear: left;
	padding-bottom: 1em;
	font-size: 12px;
	color: #999999;
  }
  
  .lb-data .lb-close {
	display: block;
	float: right;
	width: 30px;
	height: 30px;
	background: url(/wt_office_hunddle/static/src/website_development/images/lightbox/close.png) top right no-repeat;
	text-align: right;
	outline: none;
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
	opacity: 0.7;
	-webkit-transition: opacity 0.2s;
	-moz-transition: opacity 0.2s;
	-o-transition: opacity 0.2s;
	transition: opacity 0.2s;
  }
  
  .lb-data .lb-close:hover {
	cursor: pointer;
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
	opacity: 1;
  }
  
/******* End light box ***************/


.website_dev_cls .custseeOurpack {
	width: 100%;
	text-align: center;
	background: url(/wt_office_hunddle/static/src/website_development/images/custseeourpackbg.jpg);
	background-attachment: fixed;
	position: relative;
}
.website_dev_cls .custseeOurpack:after {
content: "";
width: 100%;
height: 100%;
position: absolute;
top: 0;
left: 0;
z-index: 1;
background: rgba(0, 0, 0, 0.95);
}
.website_dev_cls .custseeOurpack h2 {
	color: #0573a4;
	font-size: 70px;
	line-height: 70px;
	font-weight: 700;
	text-transform: uppercase;
	margin: 0 0 30px 0;
	position: relative;
	z-index: 2;
}
.website_dev_cls .custseeOurpackbox {
	border-radius: 10px;
	width: 100%;
	float: left;
	border: 2px solid #ee3c3a;
	background: #fff;
	position: relative;
	z-index: 2;
	margin: 0 0 30px 0;
	overflow: hidden;
	
	transform: scale(1);
transition: 500ms ease;
}
.website_dev_cls .custseeOurpackbox:hover {
	transform: scale(1.03);
}
.website_dev_cls .custseeOurpacUp {
	width: 100%;
	float: left;
}
.website_dev_cls .custseeOurpackbox h3 {
	width: 100%;
	float: left;
	margin: 0;
	padding: 10px 0 10px 0;
	font-size: 24px;
	font-weight: 500;
	color: #fff;
	min-height: 80px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.website_dev_cls .custprice {
	width: 100%;
	font-size: 60px;
	line-height: 60px;
	color: #fff;
	padding: 10px 0;
	font-weight: 600;
	float: left;
	background: #de2c2a;
	margin:  0 0 10px 0;
}
.website_dev_cls .custseeOurpacUp {
	background: #ee3c3a;
}

.website_dev_cls .custseeOurpackbox p {
	width: 100%;
	float: left;
	font-size: 14px;
	line-height: 22px;
	color: #fff;
	padding: 0 20px;
	margin-bottom: 15px;
}
.website_dev_cls .custseeOurkboxList {
	width: 100%;
	float: left;
	max-height: 350px;
	overflow-y: scroll;
	scrollbar-width: thin;
}
.website_dev_cls .custseeOurkboxList {
	padding: 10px 30px 10px 30px;
	margin: 0;
	
	
}
.website_dev_cls .custseeOurkboxList li {
	list-style: none;
	color: #333;
	font-size: 13px;
	line-height: 24px;
	text-align: left;
	margin: .3rem 0;
}
.website_dev_cls .custseeOurkboxList li i {
	margin: 0 5px 0 0;
}
.website_dev_cls .custseeOurpacftr {
	width: 100%;
	float: left;
	padding: 10px 0;
	border-top:1px solid #ddd;
}
.website_dev_cls .custseeOurpacftr h4 {
	font-size: 18px;
	margin: 10px 0 0 0;
	color: #000;
}
.website_dev_cls .custseeOurpacftr h4 a {
	color: #000;
}
.website_dev_cls .custseeOurpacftr .custombtn {
	display: inline-block;
	background: #ee3c3a;
	color: #fff;
	text-align: center;
	padding: 15px 40px;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 600;
	border-radius: 40px;
	letter-spacing: 1px;
	border: 2px solid #fff;
	position: relative;
	z-index: 2;
	transition: all ease-in-out .3s;
	width: 90%;
}


.website_dev_cls .custseeOurpackbox.blue {
	border-color: #0573a4;
}
.website_dev_cls .custseeOurpackbox.blue .custseeOurpacUp {
	background: #0573a4;
}
.website_dev_cls .custseeOurpackbox.blue .custprice {
	background: #006394;
}
.website_dev_cls .custseeOurpackbox.blue .custseeOurpacftr .custombtn {
	background: #0573a4;
}



.website_dev_cls .custseeOurpackbox.green {
	border-color: #619d41;
}
.website_dev_cls .custseeOurpackbox.green .custseeOurpacUp {
	background: #619d41;
}
.website_dev_cls .custseeOurpackbox.green .custprice {
	background: #518d31;
}
.website_dev_cls .custseeOurpackbox.green .custseeOurpacftr .custombtn {
	background: #619d41;
}

.website_dev_cls .custseeOurpackbox.purple {
	border-color: #59438f;
}
.website_dev_cls .custseeOurpackbox.purple .custseeOurpacUp {
	background: #59438f !important;
}
.website_dev_cls .custseeOurpackbox.purple .custprice {
	background: #49337f !important;
  }
.website_dev_cls .custseeOurpackbox.purple .custseeOurpacftr .custombtn {
	background: #59438f !important;
}

.website_dev_cls .custseeOurpackbox.orange {
	border-color: #db974a !important;
}
.website_dev_cls .custseeOurpackbox.orange .custseeOurpacUp {
	background: #db974a !important;
}
.website_dev_cls .custseeOurpackbox.orange .custprice {
	background: #cb873a !important;
  }
.website_dev_cls .custseeOurpackbox.orange .custseeOurpacftr .custombtn {
	background: #db974a !important;
}

.website_dev_cls .custseeOurpackbox.darkblue {
	border-color: #101344 !important;
}
.website_dev_cls .custseeOurpackbox.darkblue .custseeOurpacUp {
	background: #101344 !important;
}
.website_dev_cls .custseeOurpackbox.darkblue .custprice {
	background: #000334 !important;
  }
.website_dev_cls .custseeOurpackbox.darkblue .custseeOurpacftr .custombtn {
	background: #101344 !important;
}

.website_dev_cls .custseeOurpackbox .custseeOurpacftr .custombtn:hover  {
	background: #000 !important;
}


.website_dev_cls .custIndustries {
	background: #f1f1f1;
}





.website_dev_cls .flipbox {
	background-color: transparent;
	width: 300px;
	height: 200px;
	margin:  0 0 25px 0;
	border: 1px solid #f1f1f1;  
	border-radius: 10px;
	perspective: 1000px;
  }
  
  .website_dev_cls .flipboxinner {
	position: relative;
	width: 100%;
	height: 100%;
	text-align: center;
	transition: transform 0.8s;
	transform-style: preserve-3d;
	
	display: flex;
	justify-content: center;
	align-items: center;
  }
  
  .website_dev_cls .flipbox:hover .flipboxinner {
	transform: rotateY(180deg);
  }
  .website_dev_cls .flipboxfront h4 {
	  font-size: 18px;
	  margin:10px 0 0 0 ;
  }
  .website_dev_cls .flipboxfront, .website_dev_cls .flipboxback {
	position: absolute;
	width: 100%;
	height: 100%;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	box-shadow: rgba(0,0,0,.1) 5px 5px 5px;
  }
  .website_dev_cls .flipboxback p {
	  font-size: 14px;
	  line-height: 24px;
  }
  .website_dev_cls .flipboxfront {
	background-color: #fff;
	color: black;
	border-radius: 10px;
  }
  
  .website_dev_cls .flipboxfront img
  {
	height: 50px;
	width: 50px;
  }
  
  .website_dev_cls .flipboxback {
	background-color: #db984a;
	color: #fff;
	transform: rotateY(180deg);
	border-radius: 10px;
	padding: 16px;
  }




  /********* ERP  ***********/
  .website_dev_cls .erpsec {
	  width: 100%;
	  padding: 100px 0;
  }
  .website_dev_cls .erpsec h2 {
	color: #000;
	font-size: 40px;
	line-height: 50px;
	font-weight: 700;
	margin: 0 0 20px 0;
	text-align: center;
  }
  .website_dev_cls .erpsecmain {
	  width: 100%;
	  float: left;
	  display: flex;
	  padding: 80px 0;

  }
  .website_dev_cls .erpseclft {
	width: 30%;
	display: flex;
	align-items: center;
  }
  .website_dev_cls .erpseclftround {
	  width: 200px;
	  height: 200px;
	  border: 10px solid #000;
	  border-radius: 50%;
	  display: flex;
	  align-items: center;
	  justify-content: center;
	  position: relative;
  }
  .website_dev_cls .erpseclftround:after {
	content: "";
	width: 200px;
	height: 1px;
	background: #000;
	position: absolute;
	left: 100%;
  }
  .website_dev_cls .erpseclftround h3 {
	  font-size: 80px;
	  color: #db984a;
	  font-weight: 700;
  }
  .website_dev_cls .erpsecRt {
	  width:70%;
	  float: left;
  }
  .website_dev_cls .erpsecRtmain {
	  width: 100%;
	  float: left;
	  border-left:2px solid #000;
	  background: #fff;
	z-index: 2;
	position: relative;
  }
  .website_dev_cls .erpsecRtmainbox {
	  width: 100%;
	  float: left;
	  
  }

  .website_dev_cls .erpsecRtmainbox {
	  width: 50%;
	  background: #0573a4;
	  border:2px solid #0573a4;
	  border-radius: 100px;
	  display: flex;
	  align-items: center;
	  position: relative;
	  overflow: hidden;
	  margin: 0 20px 0 0;
  }

  .website_dev_cls .erpsecRtmainCont {
	display: flex;
	align-content: center;
	justify-content: center;
	margin: 0 0 30px 0;
	position: relative;
	
  }
  .website_dev_cls .erpsecRtmainCont:before {
	  content: "";
	  width: 100px;
	  height: 1px;
	  background: #000;
	  position:	 absolute;
	  left: 0;
	  top: 50%;
  }

  .website_dev_cls .erpsecRtmainboxicon {
	width: 80px;
	height: 80px;
	overflow:hidden;
	line-height: 72px;
	text-align: center;
	border-radius: 50%;
	background: #fff;
	font-size: 30px;
	color: #db984a;
	border: 3px solid #db984a;
  }
  .website_dev_cls .erpsecRtmainboxicon img {
	  width: 70px;
  }
  .website_dev_cls .erpsecRtmainbox h4 {
	  color: #fff;
	  padding-left: 10px;
	  font-size: 16px;
	  margin: 0;
  }
  .website_dev_cls .numbercol {
	  position: absolute;
	  top: 0;
	  right: 0;
	  width: 80px;
	  height: 80px;
	  text-align: center;
	  border-left:1px solid #fff;
	  line-height: 80px;
	  color: #fff;
	  font-size: 40px;
	  background: #db984a;
  }
  .website_dev_cls .erpsecRtmainCont p {
	font-size: 14px;
	line-height: 24px;
	color: #000;
	margin: 10px 0 0 0;
	width: 30%;
  }
  /********* End ERP  ***********/
/******************** End Web development  *******************/



/**************** Responsive website-development **************/
@media only screen and (min-width : 100px) and (max-width : 575px) {
	.website_dev_cls .owl-carousel .owl-item img{
		height: auto !important;
	}
	.website_dev_cls .pickfromservices h2{
		font-size: 40px;
		line-height: 50px;
	}
	.website_dev_cls .webdevelopmentsldr p {
		font-size: 13px;
		line-height: 20px;
	}
	.website_dev_cls .webdevelopmentsldr p br {
		display: none;
	}
	.website_dev_cls .custline {
		text-align: center;
		width: 100%;
	}
	.website_dev_cls .custline img {
		width: 150px !important;
		display: inline-block !important;
	}
	.website_dev_cls .webdevelopmentsldr .custhomeslider1main h2 br {
 		display: none;
	}
	.website_dev_cls .approachSec , .website_dev_cls .multifacetedSec {
		padding: 40px 0;
	}
	.website_dev_cls .laptop {
		text-align: center;
		margin: 0 0 15px 0;
	
	}
	.website_dev_cls .approachRt h2 , .website_dev_cls .multifacetedSec h2 , .website_dev_cls .custPortfolio h2 , .website_dev_cls .custseeOurpack h2 , .website_dev_cls .erpsec h2 {
		font-size: 28px;
		line-height: 35px;
	}
	.website_dev_cls .multifacetedSec p {
		font-size: 15px;
		line-height: 24px;
	}
	.website_dev_cls .multifacetedLft {
	
	}
	.website_dev_cls .approachRt {
		text-align: center;
	}
	.website_dev_cls .approachRt p {
		font-size: 14px;
		line-height: 24px;
	}
	.website_dev_cls .multifacetedLft .multifacetedBoxIcon {
		left: 0;
		right: auto;
		position: relative;
	}
	.website_dev_cls .multifacetedBoxIcon {
		position: relative;
		width: 60px;
		display: inline-block;
		margin:  0 0 10px 0;
	}
	.website_dev_cls .multifacetedLft .multifacetedBoxRt {
		text-align: center;
	}
	.website_dev_cls .multifacetedBox {
		padding: 0;
		text-align: center;
	}
	.website_dev_cls .multifacetedBox p {
		font-size: 14px;
	}
	.website_dev_cls .custmobileimg {
		display: none;
	}
	.website_dev_cls .portfolioImg ul li {
		width: 48%;
		margin: 0 1% 15px 1%;
	}
	.website_dev_cls .portfolioImg ul li > a {
		height: 200px;
	}
	.website_dev_cls .portfolioImg ul li h3 {
		font-size: 13px;
	}
	.website_dev_cls .pickfromservices .col-xl-3 {
		padding:  0 15px;
	}
	.website_dev_cls .flipbox {
		width: 250px;
		margin: 0 auto 20px auto;
	}
	.website_dev_cls .flipboxback p {
		font-size: 13px;
		line-height: 22px;
	}
	.website_dev_cls .erpsec {
		padding: 40px 0;
	}
	.website_dev_cls .erpsecmain {
		padding: 40px 0;
		flex-wrap: wrap;
	} 
	.website_dev_cls .erpseclft {
		width: 100%;
		justify-content: center;
		margin:  0 0 20px 0;
	} 
	.website_dev_cls .erpseclftround::after , .website_dev_cls .erpsecRtmainCont::before {
		display: none;
	}
	.website_dev_cls .erpsecRtmain {
		border: none;
	}
	.website_dev_cls .erpsecRt {
		width: 100%;
	}
	
	.website_dev_cls .erpsecRtmainbox {
		flex-wrap: wrap;
		width: 100%;
		margin: 0;
	}
	.website_dev_cls .erpsecRtmainCont p {
		width: 100%;
		text-align: center;
		font-size: 13px;
		line-height: 18px;
	}
	.website_dev_cls .erpsecRtmainCont {
		flex-wrap: wrap;
		
	}
	.website_dev_cls .erpsecRtmainboxicon {
		width: 50px;
		height: 50px;
		line-height: 30px;
	}
	.website_dev_cls .erpsecRtmainboxicon svg {
		width: 25px;
		height: 43px;
	}
	.website_dev_cls .erpsecRtmainbox h4 {
		font-size: 13px;
		padding-left: 5px;
	}
	.website_dev_cls .numbercol {
		width: 40px;
		height: 50px;
		line-height: 50px;
		font-size: 23px;
	}
	
}
@media only screen and (min-width : 576px) and (max-width : 767px) {
	.website_dev_cls .owl-carousel .owl-item img{
		height: auto !important;
	}
	.website_dev_cls .pickfromservices h2{
		font-size: 40px;
		line-height: 50px;
	}
	.website_dev_cls .webdevelopmentsldr p {
		font-size: 13px;
		line-height: 20px;
	}
	.website_dev_cls .webdevelopmentsldr p br {
		display: none;
	}
	.website_dev_cls .custline {
		text-align: center;
		width: 100%;
	}
	.website_dev_cls .custline img {
		width: 150px !important;
		display: inline-block !important;
	}
	.website_dev_cls .webdevelopmentsldr .custhomeslider1main h2 br {
 		display: none;
	}
	.website_dev_cls .approachSec , .website_dev_cls .multifacetedSec {
		padding: 40px 0;
	}
	.website_dev_cls .laptop {
		text-align: center;
		margin: 0 0 15px 0;
	
	}
	.website_dev_cls .approachRt h2 , .website_dev_cls .multifacetedSec h2 , .website_dev_cls .custPortfolio h2 , .website_dev_cls .custseeOurpack h2 , .website_dev_cls .erpsec h2 {
		font-size: 28px;
		line-height: 35px;
	}
	.website_dev_cls .multifacetedSec p {
		font-size: 15px;
		line-height: 24px;
	}
	.website_dev_cls .multifacetedLft {
	
	}
	.website_dev_cls .approachRt {
		text-align: center;
	}
	.website_dev_cls .approachRt p {
		font-size: 14px;
		line-height: 24px;
	}
	.website_dev_cls .multifacetedLft .multifacetedBoxIcon {
		left: 0;
		right: auto;
		position: relative;
	}
	.website_dev_cls .multifacetedBoxIcon {
		position: relative;
		width: 60px;
		display: inline-block;
		margin:  0 0 10px 0;
	}
	.website_dev_cls .multifacetedLft .multifacetedBoxRt {
		text-align: center;
	}
	.multifacetedBox {
		padding: 0;
		text-align: center;
	}
	.website_dev_cls .multifacetedBox p {
		font-size: 14px;
	}
	.website_dev_cls .custmobileimg {
		display: none;
	}
	.website_dev_cls .portfolioImg ul li {
		width: 48%;
		margin: 0 1% 15px 1%;
	}
	.website_dev_cls .portfolioImg ul li > a {
		height: 200px;
	}
	.website_dev_cls .portfolioImg ul li h3 {
		font-size: 13px;
	}
	.website_dev_cls .pickfromservices .col-xl-3 {
		padding:  0 15px;
	}
	.website_dev_cls .flipbox {
		width: 250px;
		margin: 0 auto 20px auto;
	}
	.website_dev_cls .flipboxback p {
		font-size: 13px;
		line-height: 22px;
	}
	.website_dev_cls .erpsec {
		padding: 40px 0;
	}
	.website_dev_cls .erpsecmain {
		padding: 40px 0;
		flex-wrap: wrap;
	} 
	.website_dev_cls .erpseclft {
		width: 100%;
		justify-content: center;
		margin:  0 0 20px 0;
	} 
	.website_dev_cls .erpseclftround::after , .website_dev_cls .erpsecRtmainCont::before {
		display: none;
	}
	.website_dev_cls .erpsecRtmain {
		border: none;
	}
	.website_dev_cls .erpsecRt {
		width: 100%;
	}
	
	.website_dev_cls .erpsecRtmainbox {
		flex-wrap: wrap;
		width: 100%;
		margin: 0;
	}
	.website_dev_cls .erpsecRtmainCont p {
		width: 100%;
		text-align: center;
		font-size: 13px;
		line-height: 18px;
	}
	.website_dev_cls .erpsecRtmainCont {
		flex-wrap: wrap;
		
	}
	.website_dev_cls .erpsecRtmainboxicon {
		width: 50px;
		height: 50px;
		line-height: 30px;
	}
	.website_dev_cls .erpsecRtmainboxicon svg {
		width: 25px;
		height: 43px;
	}
	.website_dev_cls .erpsecRtmainbox h4 {
		font-size: 17px;
		padding-left: 5px;
	}
	.website_dev_cls .numbercol {
		width: 40px;
		height: 50px;
		line-height: 50px;
		font-size: 23px;
	}
}
@media only screen and (min-width : 768px) and (max-width : 991px) {

	.website_dev_cls .approachSec , .website_dev_cls .multifacetedSec {
		padding: 40px 0;
	}
	.website_dev_cls .laptop {
		text-align: center;
	}
	.website_dev_cls .laptop img {
		width: 350px;
	}
	.website_dev_cls .approachRt h2 , .website_dev_cls .multifacetedSec h2 , .website_dev_cls .custPortfolio h2 ,.website_dev_cls .custseeOurpack h2 {
		font-size: 40px;
		line-height: 40px;
	}
	.website_dev_cls .approachRt {
		text-align:center;
	}
	.website_dev_cls .approachRt p , .website_dev_cls .multifacetedSec p {
		font-size: 15px;
	}
	.website_dev_cls .multifacetedLft {
		padding: 0 0px 0 80px;
	}
	.website_dev_cls .multifacetedLft .multifacetedBoxRt {
		text-align: left;
	}
	.website_dev_cls .custmobileimg {
		display: none;
	}
	.website_dev_cls .multifacetedLft .multifacetedBoxIcon {
		left: 0;
		right: auto;
	  }
	  .website_dev_cls .portfolioImg ul li h3 {
		  font-size: 15px;
	  }
	  .website_dev_cls .flipbox {
		margin: 0 auto 25px auto;
	  }
	  .website_dev_cls .erpsec h2 {
		  font-size: 30px;
		  line-height: 36px;
	  }

	  .website_dev_cls .erpsecRtmainCont p {
		  font-size: 13px;
		  line-height: 18px;
	  }
	  .website_dev_cls .erpseclft {
		  width: 20%;
	  }
	  .website_dev_cls .erpseclftround h3 {
		  font-size: 40px;
	  }
	  .website_dev_cls .erpseclftround {
		  width: 110px;
		  height: 110px;
		  border-width: 5px;
	  }
	  .website_dev_cls .numbercol {
		  width: 40px;
		  list-style: none;
		  font-size: 25px;
		  line-height: 60px;
	  }
	  .website_dev_cls .erpsecRtmainboxicon svg {
		  width: 30px;
	  }
	  .website_dev_cls .erpsecRtmainboxicon {
		width: 60px;
		height: 60px;
		line-height: 50px;
	  }
	  .website_dev_cls .erpsecRtmainboxicon svg {
		  height: 30px;
	  }
	  .website_dev_cls .erpsecRtmainbox h4 {
		  font-size: 14px;
		  padding-left: 5px;
	  }
	  .website_dev_cls .erpsecRt {
		  width: 80%;
	  }
	  .website_dev_cls .erpsecRtmainbox {
		  width: 55%;
	  }
}
@media only screen and (min-width : 992px) and (max-width : 1199px) {
	.website_dev_cls .approachSec , .website_dev_cls .multifacetedSec {
		padding: 40px 0;
	}
	.website_dev_cls .laptop {
		text-align: center;
	}

	.website_dev_cls .approachRt h2 , .website_dev_cls .multifacetedSec h2 , .website_dev_cls .custPortfolio h2 ,.website_dev_cls .custseeOurpack h2 {
		font-size: 40px;
		line-height: 40px;
	}
	.website_dev_cls .approachRt {
	}
	.website_dev_cls .approachRt p , .website_dev_cls .multifacetedSec p {
		font-size: 15px;
	}
	.website_dev_cls .multifacetedLft {
		padding: 0 0px 0 80px;
	}
	.website_dev_cls .multifacetedLft .multifacetedBoxRt {
		text-align: left;
	}

	.website_dev_cls .multifacetedLft .multifacetedBoxIcon {
		left: 0;
		right: auto;
	  }
	  .website_dev_cls .portfolioImg ul li h3 {
		  font-size: 15px;
	  }
	  .website_dev_cls .flipbox {
		margin: 0 auto 25px auto;
	  }
	  .website_dev_cls .erpsec h2 {
		  font-size: 30px;
		  line-height: 36px;
	  }

	  .website_dev_cls .erpsecRtmainCont p {
		  font-size: 13px;
		  line-height: 18px;
	  }
	  .website_dev_cls .erpseclft {
		  width: 20%;
	  }
	  .website_dev_cls .erpseclftround h3 {
		  font-size: 40px;
	  }
	  .website_dev_cls .erpseclftround {
		  width: 110px;
		  height: 110px;
		  border-width: 5px;
	  }
	  .website_dev_cls .numbercol {
		  width: 40px;
		  list-style: none;
		  font-size: 25px;
		  line-height: 60px;
	  }
	  .website_dev_cls .erpsecRtmainboxicon svg {
		  width: 30px;
	  }
	  .website_dev_cls .erpsecRtmainboxicon {
		width: 60px;
		height: 60px;
		line-height: 50px;
	  }
	  .website_dev_cls .erpsecRtmainboxicon svg {
		  height: 30px;
	  }
	  .website_dev_cls .erpsecRtmainbox h4 {
		  font-size: 16px;
		  padding-left: 5px;
	  }
	  .website_dev_cls .erpsecRt {
		  width: 80%;
	  }
	  .website_dev_cls .erpsecRtmainbox {
		  width: 55%;
	  }
	  .website_dev_cls .flipbox {
		  width: 100%;
	  }
	  .website_dev_cls .flipboxback p {
		  font-size: 13px;
		  line-height: 18px;
	  }
}
@media only screen and (min-width : 1200px) and (max-width : 1400px) {
	.website_dev_cls .multifacetedBox h3 {
		font-size: 18px;
	}
	.website_dev_cls .multifacetedSec , .website_dev_cls .erpsec {
		padding: 50px 0;
 	}
	.website_dev_cls .custPortfolio h2 , .website_dev_cls .custseeOurpack h2 {
		font-size: 60px;
		line-height: 60px;
	}
	.website_dev_cls .flipbox {
		width: 100%;
	}
	.website_dev_cls .flipboxback p {
		font-size: 13px;
		line-height: 18px;
	}
	.website_dev_cls .erpsecRtmainbox {
		width: 55%;
	}
	.website_dev_cls .erpsec h2 {
		margin: 0;
	}
}

/**************** End website-development **************/


/* modal css start */
.website_dev_cls .custom-modal .modal-content {
    background: #000;
}
.website_dev_cls .custom-modal input[type="text"] {
    width: 100%;
    margin: 0 0 0 0;
    border: 1px solid #cbcbcb;
    background: #ffffff00;
    padding: 10px 15px;
    color: #535353;
    font-size: 14px;
    border-radius: 10px;
    height: 50px;
    font-weight: 400;
    outline: none !important;
    margin: 0 0 15px 0;
}

.website_dev_cls .custom-modal input[type="email"] {
    width: 100%;
    margin: 0 0 0 0;
    border: 1px solid #cbcbcb;
    background: #ffffff00;
    padding: 10px 15px;
    color: #535353;
    font-size: 14px;
    border-radius: 10px;
    height: 50px;
    font-weight: 400;
    outline: none !important;
    margin: 0 0 15px 0;
}

.website_dev_cls .custom-modal textarea {
    width: 100%;
    margin: 0 0 0 0;
    border: 1px solid #cbcbcb;
    background: #ffffff00;
    padding: 10px 15px;
    color: #535353;
    font-size: 14px;
    border-radius: 10px;
    height: 90px;
    font-weight: 400;
    outline: none !important;
    margin: 0 0 15px 0;
}

.website_dev_cls .custom-modal button.btn.text-uppercase.text-white {
    background: #046582;
    padding: 5px 20px;
}

.website_dev_cls .custom-modal button.close {
    background: none;
    color: #fff;
    border: none;
    font-size: 20px;
}
.website_dev_cls .custom-modal h5#exampleModalLabel {
    color: #fff;
}
.website_dev_cls .custom-modal .modal-header {
    border: none;
}