/* Custom CSS  */

.bg-blue-section {
    background-color: #069
}

.padding-top-section {
    padding: 6rem 0!important
}

.heading-custom {
    font-size: 4rem!important;
    font-weight: 700!important
}

.mt-5-custom {
    margin-top: 3rem!important
}

.paragraph-text-custom {
    font-size: 1.5rem!important;
    font-weight: 400!important
}

.section-margin {
    margin: 0 150px!important
}

.label-custom {
    font-weight: 600!important
}

.font-bold-xl-custom {
    font-weight: 900;
}

.button-bg {
    background-color: #c93!important
}

#select {
    height: calc(3.25rem + 2px) !important;
}

.font-bold-custom {
    font-weight: 500!important
}

.pl-5 {
    padding-left: 25px !important;
}

.overflow-hidden-custom {
    overflow-x: hidden !important;
}

@media only screen and (max-width:900px) {
    .section-margin {
        margin: 0 70px!important
    }
}

@media only screen and (max-width:650px) {
    .section-margin {
        margin: 0 0!important
    }
}

button.button-item {
    background: #0773a2;
    color: #fff;
    border-radius: 33px;
    font-weight: 700 !important;
    padding: 10px 45px !important;
}

.header-main a.nav-link {
    font-size: 14px;
    font-weight: 500;
    color: #000!important;
    padding: .5rem 20px!important
}

.first-section {
    padding: 50px 0
}

.second-section {
    background: #e8efff;
    padding: 100px 0
}

.second-section button {
    background: #0773a2;
    color: #fff;
    font-weight: 500;
    border-radius: 33px;
    padding: 5px 30px;
    margin-top: 20px
}

.body-main h3 {
    color: #0773a2;
    font-weight: 700
}

label.main-label {
    color: #0773a2;
    font-weight: 500;
    font-size: 16px;
    font-weight: 700
}

.body-main label {
    color: #0773a2
}

.body-main .form-control {
    background: #e8efff;
    border-radius: 6px
}

.body-main sub {
    color: red;
    font-size: 14px
}