/* Custom CSS  */

.sub-bc-cl .bg-blue-section {
    background-color: #069
}

.sub-bc-cl .padding-top-section {
    padding: 6rem 0!important
}

.sub-bc-cl .heading-custom {
    font-size: 4rem!important;
    font-weight: 700!important
}

.sub-bc-cl .mt-5-custom {
    margin-top: 3rem!important
}

.sub-bc-cl .paragraph-text-custom {
    font-size: 1.5rem!important;
    font-weight: 400!important
}

.sub-bc-cl .section-margin {
    margin: 0 150px!important
}

.sub-bc-cl .label-custom {
    font-weight: 600!important
}

.sub-bc-cl .font-bold-xl-custom {
    font-weight: 900;
}

.sub-bc-cl .button-bg {
    background-color: #c93!important
}

.sub-bc-cl #select {
    height: calc(3.25rem + 2px) !important;
}

.sub-bc-cl .font-bold-custom {
    font-weight: 500!important
}

.sub-bc-cl .pl-5 {
    padding-left: 25px !important;
}

.sub-bc-cl .overflow-hidden-custom {
    overflow-x: hidden !important;
}

@media only screen and (max-width:900px) {
    .sub-bc-cl .section-margin {
        margin: 0 70px!important
    }
}

@media only screen and (max-width:650px) {
    .sub-bc-cl .section-margin {
        margin: 0 0!important
    }
}

.sub-bc-cl button.button-item {
    background: #0773a2;
    color: #fff;
    border-radius: 33px;
    font-weight: 700 !important;
    padding: 10px 45px !important;
}

.sub-bc-cl .header-main a.nav-link {
    font-size: 14px;
    font-weight: 500;
    color: #000!important;
    padding: .5rem 20px!important
}

.sub-bc-cl .first-section {
    padding: 50px 0
}

.sub-bc-cl .second-section {
    background: #d3e2fe;
    padding: 100px 0
}

.sub-bc-cl .light-label {
    color: #acb0b2
}

.sub-bc-cl .second-section button {
    background: #0773a2;
    color: #fff;
    font-weight: 500;
    border-radius: 33px;
    padding: 5px 30px;
    margin-top: 20px
}

.sub-bc-cl .body-main h3 {
    color: #0773a2;
    font-weight: 700
}

.sub-bc-cl label.main-label {
    color: #0773a2;
    font-weight: 500;
    font-size: 16px;
    font-weight: 700
}

.sub-bc-cl .body-main label {
    color: #0773a2
}

.sub-bc-cl .body-main .form-control {
    background: #e8efff;
    border-radius: 6px
}

.sub-bc-cl .body-main sub {
    color: red;
    font-size: 14px
}

@media only screen and (max-width:372px) {
    .sub-bc-cl .phone-number {
        font-size: 14px !important;
    }
}