/*************** How it work  *******************/
.how_it_works_cls .custhowitworkbnr {
	width: 100%;
	background: url(/wt_office_hunddle/static/src/how_it_works/images/howitworkbnr.jpg) top center;
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
	padding: 190px 0 150px 0 ;
}
.how_it_works_dashedline {
	position: relative;
}
.how_it_works_dashedline:before {
	content: "";
	width: 100%;
	height: 4980px;
	top: 250px;
	background: url(/wt_office_hunddle/static/src/how_it_works/images/dashedline.png);
	z-index: 1;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	position: absolute;
}
.how_it_works_cls .custhowitworkbnr .container , 
.how_it_works_cls .thesevensuc .container ,
.how_it_works_cls .stageSec .container ,
.how_it_works_cls .yourfirstSec .container {
position: relative;
z-index: 4;
}
.how_it_works_cls .custhowitworkbnr h1 {
	margin: 0 0 50px 0;
	font-size: 70px;
	font-weight: 700;
	line-height: 70px;
	color: #fff;
	text-transform: uppercase;
	text-align: right;
}
.how_it_works_cls .custhowitworkbnr h1 span {
	color: #db974a;
}
.how_it_works_cls .custhowitworkbnr p {
	font-size: 16px;
	line-height: 26px;
	color: #fff;
	text-align: center;
	padding: 0 20%;
}
.how_it_works_cls .thesevensuc {
	background: #000;
	width: 100%;
	display: inline-block;
	padding: 40px 0;
	position: relative;
}
.how_it_works_cls .thesevensuc h2 {
	text-align: center;
	font-size: 62px;
	font-weight: 700;
	color: #fff;
	line-height: 62px;
	text-transform: uppercase;
}
.how_it_works_cls .thesevensuc h2 span {
display: block;
color: #db974a;
}

.how_it_works_cls .thesevensucmainCont {
	width: 100%;
	float: left;
	position: relative;
}
.how_it_works_cls .theseventxtbox {
	max-width: 300px;
	width: 100%;
	text-align: left;
	position: absolute;
}
.how_it_works_cls .theseventxtbox h3 {
	font-size:20px;
	color: #fff;
	font-weight: 600;
}
.how_it_works_cls .theseventxtbox p {
	font-size: 14px;
	line-height: 24px;
	color: #fff;
}
.how_it_works_cls .leadershipDeve {
	position: relative;
	width: 100%;
	text-align: center;
	margin:  150px 0 150px 0 ;
}
.how_it_works_cls .leadershipDeverespo {
	display: none;
}
.how_it_works_cls .theseventxtbox1 {
	top: 190px;
	left: 155px;
}
.how_it_works_cls .theseventxtbox2 {
	top: 480px;
	left: 40px;
}
.how_it_works_cls .theseventxtbox3 {
	top: 710px;
	left: 190px;
}
.how_it_works_cls .theseventxtbox4 {
	top: 85px;
	right: 335px;
	left: auto;
}

.how_it_works_cls .theseventxtbox5 {
	top: 320px;
	right: 50px;
	left: auto;
}

.how_it_works_cls .theseventxtbox6 {
	top: 560px;
	right: 100px;
	left: auto;
}
.how_it_works_cls .theseventxtbox7 {
	top: 750px;
	right: 325px;
	left: auto;
}
.how_it_works_cls .stageSec {
	width: 100%;
	padding: 180px 0;
	display: inline-block;
	background-size: cover !important;
	background-position: center center !important;
	position: relative;
	background-attachment: fixed !important;
}
.how_it_works_cls .stageSecmais {
	width: 100%;
	float: left;
	padding:0 0 0 180px;
	position: relative;
}
.how_it_works_cls .stageSecmais h2 {
	font-size: 62px;
	font-weight: 700;
	color: #fff;
	line-height: 62px;
	text-transform: uppercase;
	font-family: 'Poppins', sans-serif;
}
.how_it_works_cls .stageSecmais p {
	color: #fff;
	line-height: 26px;
	font-size: 16px;
	font-family: 'Poppins', sans-serif;
} 
.how_it_works_cls .stepnumber {
	position: absolute;
	left: 0;
	top: -300px;
}

.how_it_works_cls .bounce {
	-moz-animation: bounce 2s infinite;
	-webkit-animation: bounce 2s infinite;
	animation: bounce 2s infinite;
  }
  
  @keyframes bounce {
	0%, 20%, 50%, 80%, 100% {
	  transform: translateY(0);
	}
	40% {
	  transform: translateY(-30px);
	}
	60% {
	  transform: translateY(-15px);
	}
  }

.how_it_works_cls .custDownloadbtn {
	display: inline-block;
	font-family: "Poppins", sans-serif;
	font-weight: 400;
	font-size: 16px;
	letter-spacing: 0px;
	display: inline-block;
	padding: 15px 40px;
	border-radius: 30px;
	transition: ease-in-out 0.3s;
	color: #000;
	background: #fcc585;
	text-align: center;
	margin: 20px 0 0 0;
	font-family: 'Poppins', sans-serif;
}
.how_it_works_cls .custDownloadbtn:hover {
	background: #04658f;
	color: #fff;
}
.how_it_works_cls .stageSecmais h4 {
	font-size: 18px;
	font-weight: 600;
	font-style: italic;
	color: #fff;
	margin:  10px 0 20px 0;
	font-family: 'Poppins', sans-serif;
}


.how_it_works_cls .stageSec2 .stageSecmais {
padding: 0 180px 0 0 ;
text-align: right;
}
.how_it_works_cls .stageSec2 .stepnumber {
	right: 0;
	left: auto;
}
.how_it_works_cls .stageSec2 .custDownloadbtn {
	background: #432e7d;
	color: #fff;
}
.how_it_works_cls .stageSec2 .custDownloadbtn:hover {
	background: #04658f;
}




.how_it_works_cls .yourfirstSec {
	padding: 100px 0;
}
.how_it_works_cls .yourfirstSecLft {
	width: 100%;
	position: relative;
}
.how_it_works_cls .yourfirstSecLft:after {
	content: "";
	width: 150px;
	height: 150px;
	background: #fff;
	border: 15px solid #fcc585;
	border-radius: 50%;
	display: inline-block;
	position: absolute;
	bottom: -70px;
	right: -70px;
	z-index: -1;
	
}
.how_it_works_cls .yourfirstSecLft img {
	width: 100%;
}

.how_it_works_cls .yourfirstSecRt {
	width: 100%;
	float: left;
	padding:100px 0 0 20px;
}
.how_it_works_cls .yourfirstSecRthead {
	background: #fcc585;
	border-radius: 0 30px 30px 0;
	padding: 20px;
	left: -45px;
	position: relative;
	margin:  0 0 30px 0;
}
.how_it_works_cls .yourfirstSecRthead h2 {
	margin: 0;
	color: #000;
	font-size: 60px;
	text-transform: uppercase;
	text-align: center;
	font-family: 'Poppins', sans-serif;
	font-weight: 800;
	font-family: 'Poppins', sans-serif;
}
.how_it_works_cls .yourfirstSecRt h4 {
	font-weight: 600;
	font-style: italic;
	color: #000;
	font-size: 20px;
	font-family: 'Poppins', sans-serif;
}
.how_it_works_cls .yourfirstSecRt p {
	font-size: 16px;
	line-height: 26px;
	color: #000;
	font-family: 'Poppins', sans-serif;
}
.how_it_works_cls .yourfirstSecRt .custDownloadbtn {
	padding: 15px 80px;
	margin-left: 100px;
}
/*************** End How it work  *******************/

.how_it_works_cls a:hover{
	text-decoration: none;
}

/* Responsive */
@media only screen and (min-width : 100px) and (max-width : 575px) {
	.how_it_works_cls .custhowitworkbnr {
		padding: 70px 0 50px 0;
	}
	.how_it_works_cls .custhowitworkbnr h1 {
		font-size: 28px;
		line-height: 35px;
		text-align: center;
		margin: 0;
	}
	.how_it_works_cls .custhowitworkbnr h1 br {
		display: none;
	}
	.how_it_works_cls .custhowitworkbnr p {
		font-size: 13px;
		line-height: 20px;
		padding: 0;
	}
	.how_it_works_cls .thesevensuc {
		padding: 20px 0;
	}
	.how_it_works_cls .theseventxtbox p {
		font-size: 13px;
		line-height: 20px;
	}
	.how_it_works_cls .custDownloadbtn {
		font-size: 13px;
		padding: 12px 20px;
	}

	.how_it_works_cls .thesevensuc h2 {
		font-size: 28px;
		line-height:35px;
	}

	.how_it_works_cls .leadershipDeverespo {
		display: inline-block;
		width: 100%;
		text-align: center;
		margin:  20px 0 20px 0;
	}
	.how_it_works_cls .leadershipDeverespo img {
		width: 250px;
	}
	.how_it_works_cls .leadershipDeve {
		display: none;
	}
	.how_it_works_cls .theseventxtbox {
		position: relative;
		top: 0;
		left: 0;
		right: 0;
		text-align: center;
		margin: 0 0 30px 0;
		max-width: 100%;
	}
	.how_it_works_cls .stepnumber {
		display: none;
	}
	.how_it_works_cls .stageSec {
		padding: 40px 0;
	}
	.how_it_works_cls .stageSecmais {
		padding: 0 !important;
		text-align: center !important;
	}
	.how_it_works_cls .stageSecmais h2 {
		font-size: 30px;
		line-height: 35px;
	}
	.how_it_works_cls .stageSecmais p {
		font-size: 13px;
		line-height: 20px;
	}
	.how_it_works_cls .yourfirstSec {
		padding: 40px 0;
	}
	.how_it_works_cls .yourfirstSecLft::after {
		width: 80px;
		height: 80px;
		border-width: 10px;
		right: 40px;
		bottom: -40px;
		display: none;
	}
	.how_it_works_cls .yourfirstSecRt {
		padding: 40px 0 0 0px;
		text-align: center;
	}
	.how_it_works_cls .yourfirstSecRthead {
		left: 0;
		border-radius: 30px;
	}
	.how_it_works_cls .yourfirstSecRthead h2 {
		font-size: 26px;
	}
	.how_it_works_cls .yourfirstSecRt h4 {
		font-size: 17px;
	}
	.how_it_works_cls .yourfirstSecRt p {
		font-size: 13px;
		line-height: 20px;
	}
	.how_it_works_cls .yourfirstSecRt .custDownloadbtn {
		margin: 0;
		padding: 12px 40px;
	}
	.how_it_works_cls .dashedline:before {
		display: none;
	}

}
@media only screen and (min-width : 576px) and (max-width : 767px) {
	.how_it_works_cls .custhowitworkbnr {
		padding: 70px 0 40px 0;
	}
	.how_it_works_cls .custhowitworkbnr h1 {
		font-size: 28px;
		line-height: 35px;
		text-align: center;
		margin: 0;
	}
	.how_it_works_cls .custhowitworkbnr h1 br {
		display: none;
	}
	.how_it_works_cls .custhowitworkbnr p {
		font-size: 14px;
		line-height: 26px;
		padding: 0;
	}
	.how_it_works_cls .thesevensuc {
		padding: 20px 0;
	}
	.how_it_works_cls .theseventxtbox p {
		font-size: 13px;
		line-height: 20px;
	}
	.how_it_works_cls .custDownloadbtn {
		font-size: 14px;
		padding: 12px 30px;
	}

	.how_it_works_cls .thesevensuc h2 {
		font-size: 28px;
		line-height:35px;
	}

	.how_it_works_cls .leadershipDeverespo {
		display: inline-block;
		width: 100%;
		text-align: center;
		margin:  20px 0 20px 0;
	}
	.how_it_works_cls .leadershipDeverespo img {
		width: 250px;
	}
	.how_it_works_cls .leadershipDeve {
		display: none;
	}
	.how_it_works_cls .theseventxtbox {
		position: relative;
		top: 0;
		left: 0;
		right: 0;
		text-align: center;
		margin: 0 0 30px 0;
		max-width: 100%;
	}

	.how_it_works_cls .stageSec {
		padding: 40px 0;
	}
	.how_it_works_cls .stageSecmais {
		padding: 0 0 0 80px;

	}
	.how_it_works_cls .stageSec2 .stageSecmais {
		padding:  0 80px 0 0;
	}
	.how_it_works_cls .stepnumber {
		top: -80px;
	}
	.how_it_works_cls .stepnumber img {
		width: 50px;
	}
	.how_it_works_cls .stageSecmais h2 {
		font-size: 30px;
		line-height: 35px;
	}
	.how_it_works_cls .stageSecmais p {
		font-size: 13px;
		line-height: 20px;
	}
	.how_it_works_cls .yourfirstSec {
		padding: 40px 0;
	}
	.how_it_works_cls .yourfirstSecLft::after {
		width: 80px;
		height: 80px;
		border-width: 10px;
		right: 40px;
		bottom: -40px;
		display: none;
	}
	.how_it_works_cls .yourfirstSecRt {
		padding: 40px 0 0 0px;
		text-align: center;
	}
	.how_it_works_cls .yourfirstSecRthead {
		left: 0;
		border-radius: 30px;
	}
	.how_it_works_cls .yourfirstSecRthead h2 {
		font-size: 26px;
	}
	.how_it_works_cls .yourfirstSecRt h4 {
		font-size: 17px;
	}
	.how_it_works_cls .yourfirstSecRt p {
		font-size: 14px;
		line-height: 26px;
	}
	.how_it_works_cls .yourfirstSecRt .custDownloadbtn {
		margin: 0;
		padding: 12px 40px;
	}
	.how_it_works_cls .dashedline:before {
		display: none;
	}

}
@media only screen and (min-width : 768px) and (max-width : 991px) {
	.how_it_works_cls .custhowitworkbnr {
		padding: 60px 0 30px 0;
	}
	.how_it_works_cls .custhowitworkbnr h1 {
		font-size: 45px;
		line-height: 45px;
		margin: 0 0 10px 0;
	}
	.how_it_works_cls .custhowitworkbnr p {
		padding: 0;
		font-size: 14px;
		line-height: 24px;
	}
	.how_it_works_cls .thesevensuc h2 {
		font-size: 45px;
		line-height: 45px;
	}
	.how_it_works_cls .leadershipDeve img {
		width:300px;
	}
	.how_it_works_cls .theseventxtbox h3 {
		font-size: 17px;
	}
	.how_it_works_cls .theseventxtbox p {
		font-size: 12px;
		line-height: 18px;
	}
	.how_it_works_cls .theseventxtbox {
		max-width: 230px;
	}

	.how_it_works_cls .leadershipDeve {
		margin: 100px 0 100px 0;
	}
	.how_it_works_cls .theseventxtbox1 {
		top: 60px;
		left: 65px;
	  }

	  .how_it_works_cls .theseventxtbox2 {
		top: 210px;
		left: 0px;
	  }
	  .how_it_works_cls .theseventxtbox3 {
		top: 330px;
		left: 30px;
	  }
	  .how_it_works_cls .theseventxtbox4 {
		top: 40px;
		right: 90px;
		left: auto;
	  }
	  .how_it_works_cls .theseventxtbox5 {
		top: 150px;
		right: 0px;
		left: auto;
	  }
	  .how_it_works_cls .theseventxtbox6 {
		top: 290px;
		right: 20px;
	}
	.how_it_works_cls .theseventxtbox7 {
		top: 390px;
		right: 170px;
	}

	.how_it_works_cls .stageSec {
		padding: 80px 0;
	}
	.how_it_works_cls .stageSecmais h2 {
		font-size: 45px;
		line-height: 45px;
	}
	.how_it_works_cls .stageSecmais h4 {
		font-size: 16px;
	}
	.how_it_works_cls .stageSecmais p {
		font-size: 14px;
		line-height: 22px;
	}
	.how_it_works_cls .stageSecmais {
		padding: 0  0 0 120px;
	}
	.how_it_works_cls .stepnumber {
		top: -130px;
	}
	.how_it_works_cls .stepnumber img {
		width:80px;
	}
	.how_it_works_cls .custDownloadbtn {
		font-size: 15px;
		padding: 12px 30px;
	}
	.how_it_works_cls .stageSec2 .stageSecmais {
		padding:  0 120px 0 0;
	}
	.how_it_works_cls .yourfirstSecRt {
		padding: 50px 0 0 20px;
	}
	.how_it_works_cls .yourfirstSecRthead h2 {
		font-size: 31px;
	}
	.how_it_works_cls .yourfirstSecRt p {
		font-size: 14px;
		line-height: 24px;
	}
	.how_it_works_cls .yourfirstSecRt .custDownloadbtn {
		margin-left:40px;
	}
	.how_it_works_cls .yourfirstSecLft::after {
		width: 100px;
		height: 100px;
		bottom: -60px;
		right: -30px;
		border-width: 10px;
	}
	.how_it_works_cls .yourfirstSec {
		padding: 50px 0;
	}
	.how_it_works_cls .dashedline:before {
		display: none;
	}
}
@media only screen and (min-width : 992px) and (max-width : 1199px) {
	.how_it_works_cls .custhowitworkbnr {
		padding: 60px 0 30px 0;
	}
	.how_it_works_cls .custhowitworkbnr h1 {
		font-size: 50px;
		line-height: 50px;
		margin: 0 0 10px 0;
	}
	.how_it_works_cls .custhowitworkbnr p {
		padding: 0 10%;
		font-size: 14px;
		line-height: 24px;
	}
	.how_it_works_cls .thesevensuc h2 {
		font-size: 45px;
		line-height: 45px;
	}
	.how_it_works_cls .leadershipDeve img {
		width:420px;
	}
	.how_it_works_cls .theseventxtbox h3 {
		font-size: 18px;
	}
	.how_it_works_cls .theseventxtbox p {
		font-size: 13px;
		line-height: 20px;
	}
	.how_it_works_cls .theseventxtbox {
		max-width: 230px;
	}

	.how_it_works_cls .leadershipDeve {
		margin: 150px 0 150px 0;
	}
	.how_it_works_cls .theseventxtbox1 {
		top: 140px;
		left: 95px
	  }

	  .how_it_works_cls .theseventxtbox2 {
		top: 350px;
		left: 50px;
	  }
	  .how_it_works_cls .theseventxtbox3 {
		top: 500px;
		left: 100px;
	  }
	  .how_it_works_cls .theseventxtbox4 {
		top: 100px;
			right: 210px;
			left: auto;
	  }
	  .how_it_works_cls .theseventxtbox5 {
		top: 250px;
		right: 70px;
		left: auto;
	  }
	  .how_it_works_cls .theseventxtbox6 {
		top: 420px;
		right: 100px;
	}
	.how_it_works_cls .theseventxtbox7 {
		top: 550px;
		right: 280px;
	}

	.how_it_works_cls .stageSec {
		padding: 80px 0;
	}
	.how_it_works_cls .stageSecmais h2 {
		font-size: 45px;
		line-height: 45px;
	}
	.how_it_works_cls .stageSecmais h4 {
		font-size: 16px;
	}
	.how_it_works_cls .stageSecmais p {
		font-size: 14px;
		line-height: 22px;
	}
	.how_it_works_cls .stageSecmais {
		padding: 0  0 0 120px;
	}
	.how_it_works_cls .stepnumber {
		top: -130px;
	}
	.how_it_works_cls .stepnumber img {
		width:80px;
	}
	.how_it_works_cls .custDownloadbtn {
		font-size: 15px;
		padding: 12px 30px;
	}
	.how_it_works_cls .stageSec2 .stageSecmais {
		padding:  0 120px 0 0;
	}
	.how_it_works_cls .yourfirstSecRt {
		padding: 50px 0 0 20px;
	}
	.how_it_works_cls .yourfirstSecRthead h2 {
		font-size: 31px;
	}
	.how_it_works_cls .yourfirstSecRt p {
		font-size: 14px;
		line-height: 24px;
	}
	.how_it_works_cls .yourfirstSecRt .custDownloadbtn {
		margin-left:40px;
	}
	.how_it_works_cls .yourfirstSecLft::after {
		width: 100px;
		height: 100px;
		bottom: -60px;
		right: -30px;
		border-width: 10px;
	}
	.how_it_works_cls .yourfirstSec {
		padding: 50px 0;
	}

	.how_it_works_cls .dashedline:before {
		height: 2900px;
		top: 170px;
	}
}
@media only screen and (min-width : 1200px) and (max-width : 1399px) {
	.how_it_works_cls .theseventxtbox1 {
		left: 75px;
	}
	.how_it_works_cls .theseventxtbox2 {
		left: 20px;
	}
	.how_it_works_cls .theseventxtbox3 {
		left: 80px;
	}
	.how_it_works_cls .theseventxtbox4 {
		right: 220px;
	}
	.how_it_works_cls .theseventxtbox5 {
		right: 20px;
	}
	.how_it_works_cls .theseventxtbox6 {
		right: 40px;
	}
	.how_it_works_cls .theseventxtbox7 {
		right: 270px;
	}
}
@media only screen and (min-width : 1200px) and (max-width : 1400px) {
	.how_it_works_cls .custhowitworkbnr h1 {
		font-size: 60px;
		line-height: 60px;
	}
	.how_it_works_cls .custhowitworkbnr {
		padding:120px 0 110px 0 ;
	}
	.how_it_works_cls .custhowitworkbnr p {
		padding: 0 15%;
	}
	.how_it_works_cls .yourfirstSecRthead h2 {
		font-size: 52px;
	}
	.how_it_works_cls .stageSec {
		padding: 150px 0;
	}
	.how_it_works_cls .stepnumber {
		top: -200px;
	}
	.how_it_works_cls .stepnumber img {
		width: 100px;
	}
	.how_it_works_cls .stageSecmais {
		padding: 0 0 0 130px;
	}
	.how_it_works_cls .stageSec2 .stageSecmais {
		padding: 0 130px 0 0;
	}
	.how_it_works_cls .dashedline:before {
		height: 4050px;
		top: 170px;
	}
}