/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/**
* Desktop Navigation 
*/
.printing_product_wrap .navbar {
    padding: 0;
}
.printing_product_wrap .navbar ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    align-items: center;
}
.printing_product_wrap .navbar li {
    position: relative;
}
.printing_product_wrap .navbar a {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0 10px 30px;
    font-family: "Poppins", sans-serif !important;
    font-size: 16px;
    font-weight: 600;
    color: #37423b;
    white-space: nowrap;
    transition: 0.3s;
}
.printing_product_wrap .navbar a i {
    font-size: 12px;
    line-height: 0;
    margin-left: 5px;
}
.printing_product_wrap .navbar a:hover, .navbar .active, .printing_product_wrap .navbar li:hover > a {
    color: #ff8903;
}
.printing_product_wrap .navbar .dropdown ul {
    display: block;
    position: absolute;
    left: 30px;
    top: calc(100% + 30px);
    margin: 0;
    padding: 10px 0;
    z-index: 99;
    opacity: 0;
    visibility: hidden;
    background: #fff;
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
    transition: 0.3s;
    border-radius: 4px;
}
.printing_product_wrap .navbar .dropdown ul li {
    min-width: 200px;
}
.printing_product_wrap .navbar .dropdown ul a {
    padding: 10px 20px;
    font-size: 14px;
    text-transform: none;
    font-weight: 500;
}
.printing_product_wrap .navbar .dropdown ul a i {
    font-size: 12px;
}
.printing_product_wrap .navbar .dropdown ul a:hover, .navbar .dropdown ul .active:hover, .navbar .dropdown ul li:hover > a {
    color: #ff8903;
}
.printing_product_wrap .navbar .dropdown:hover > ul {
    opacity: 1;
    top: 100%;
    visibility: visible;
}
.printing_product_wrap .navbar .dropdown .dropdown ul {
    top: 0;
    left: calc(100% - 30px);
    visibility: hidden;
}
.printing_product_wrap .navbar .dropdown .dropdown:hover > ul {
    opacity: 1;
    top: 0;
    left: 100%;
    visibility: visible;
}
.printing_product_wrap nav#nav {
    text-align: center !important;
    padding-top: 0px;
    padding-left: 500px;
    padding-bottom: 5px;
}
.printing_product_wrap nav#nav a{
    border-right: 2px solid black !important;
    padding: 0 1em;
}
.printing_product_wrap nav#nav .dropdown ul h6{
    font-weight: bold;
    top: calc(100% + 30px);
    border-right: 2px solid black;
}
.printing_product_wrap nav#nav li {
    background-color: rgb(255, 255, 255);
}
.printing_product_wrap nav#nav .dropdown ul :hover, .navbar .dropdown ul :hover, .dropdown ul li:hover > {
    color: #000000;
}
.printing_product_wrap nav#nav span :hover{
    background-color: rgb(0, 0, 0);
}
.printing_product_wrap nav#nav :hover, .navbar li:hover >  {
    color: #000000;
}
.printing_product_wrap .breadcrumbs {
    text-align: center;
    background: url("/wt_office_hunddle/static/src/printing/images/lines.png") center center;
    padding: 10px ;
    color: #fff;
}
.printing_product_wrap header{
    padding-top: 20px;
}
/*
* Mobile Navigation
*/
.printing_product_wrap .mobile-nav-toggle {
    color: #37423b;
    font-size: 28px;
    cursor: pointer;
    display: none;
    line-height: 0;
    transition: 0.5s;
}
.printing_product_wrap .mobile-nav-toggle.bi-x {
    color: #fff;
}
@media (max-width: 991px) {
    .printing_product_wrap .mobile-nav-toggle {
      display: block;
    }
    .printing_product_wrap .navbar ul {
      display: none;
    }
}
.printing_product_wrap .navbar-mobile {
    position: fixed;
    overflow: hidden;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(32, 38, 34, 0.9);
    transition: 0.3s;
    z-index: 999;
}
.printing_product_wrap .navbar-mobile .mobile-nav-toggle {
    position: absolute;
    top: 15px;
    right: 15px;
}
.printing_product_wrap .navbar-mobile ul {
    display: block;
    position: absolute;
    top: 55px;
    right: 15px;
    bottom: 15px;
    left: 15px;
    padding: 10px 0;
    border-radius: 6px;
    background-color: #fff;
    overflow-y: auto;
    transition: 0.3s;
}
.printing_product_wrap .navbar-mobile a {
    padding: 10px 20px;
    font-size: 15px;
    color: #37423b;
}
.printing_product_wrap .navbar-mobile a:hover, .printing_product_wrap .navbar-mobile .active, .printing_product_wrap .navbar-mobile li:hover > a {
    color: #ff8903;
}
.printing_product_wrap .navbar-mobile .getstarted {
    margin: 15px;
}
.printing_product_wrap .navbar-mobile .dropdown ul {
    position: static;
    display: none;
    margin: 10px 20px;
    padding: 10px 0;
    z-index: 99;
    opacity: 1;
    visibility: visible;
    background: #fff;
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
}
.printing_product_wrap .navbar-mobile .dropdown ul li {
    min-width: 200px;
}
.printing_product_wrap .navbar-mobile .dropdown ul a {
    padding: 10px 20px;
}
.printing_product_wrap .navbar-mobile .dropdown ul a i {
    font-size: 12px;
}
.printing_product_wrap .navbar-mobile .dropdown ul a:hover, .printing_product_wrap .navbar-mobile .dropdown ul .active:hover, .printing_product_wrap .navbar-mobile .dropdown ul li:hover > a {
    color: #ff8903;
}
.printing_product_wrap .navbar-mobile .dropdown > .dropdown-active {
    display: block;
}
/* Navigation End */

.printing_product_wrap .get-started-btn {
    margin-left: 22px;
    background: #ff8903;
    color: #fff;
    border-radius: 5px;
    padding: 8px 35px;
    white-space: nowrap;
    transition: 0.3s;
    font-size: 14px;
    display: inline-block;
}

.printing_product_wrap .get-started-btn:hover {
    background: #3ac162;
    color: #fff;
}

/* Body */
.printing_product_wrap .filter-slider {
    font-size:20px;
    font-family: 'Poppins';
    text-align: center;
    backdrop-filter: blur(2px);
    height: 40px;
    color: black;
    font-weight: 700;
    top: 100%;
    text-shadow: 0px 0px 10px white;
    white-space: nowrap;
    margin-top: -65px;
    /*background-color: rgb(0 0 0 / 13%);*/
}

@media screen and (max-width: 1024px){
.printing_product_wrap .filter-slider {
    font-size:20px;
    font-family: 'Poppins';
    text-align: center;
    backdrop-filter: blur(2px);
    height: 40px;
    color: black;
    font-weight: 700;
    top: 100%;
    text-shadow: 0px 0px 10px white;
    white-space: nowrap;
    margin-top: -65px;

}
}

.printing_product_wrap #hero-images {
    width: 100%;
    height: auto;
}

.printing_product_wrap .header-text  {
    text-align: center;
    padding-top: 0px;
}

.printing_product_wrap .header-text h1{
    text-align: center;
    font-size: 55px !important;
    font-weight: 600;
}

.printing_product_wrap .header-text p{
    font-family: 'Poppins'; 
    font-size: 23px;
    color: #212529; 
    text-align: center;
    padding: 0px;
    text-shadow: 0 0 black !important;
}

@media screen and (max-width: 1440px) {
    .printing_product_wrap .header-text p{

        font-family: 'Poppins'; 
        font-size: 24px; 
        text-align: justify; 
        
    }
}

.printing_product_wrap .blurry {
    height: auto;
    width: 100%;
    max-width: 100%;
    align-items: center;
    text-align: center;
}

.printing_product_wrap * {box-sizing: border-box}
.printing_product_wrap body {font-family: Verdana, sans-serif; margin:0}
.printing_product_wrap .mySlides {display: none}
.printing_product_wrap img {vertical-align: middle;}

/* Slideshow container */
.printing_product_wrap .slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.printing_product_wrap .prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  height: auto;
  padding: 0px 16px 0px 16px;
  margin-top: -150px;
  color: white;
  font-weight: bold;
  font-size: 30px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  background-color: #323230;
}


/* Position the "next button" to the right */
.printing_product_wrap .next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.printing_product_wrap .prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.printing_product_wrap .text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.printing_product_wrap .numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.printing_product_wrap .dot {
  cursor: pointer;
  height: 25px;
  margin: 0 50px;
  background-color: transparent;
  border-radius: 0;
  display: inline-block;
  transition: background-color 0.6s ease;
  text-indent: 0;
  padding-top: 5px;
}

@media screen and (max-width: 1024px){
    .printing_product_wrap .dot {
        cursor: pointer;
        height: 25px;
        background-color: transparent;
        border-radius: 0px;
        display: inline-block;
        transition: background-color 0.6s ease;
        padding-top: 5px;
        margin: 0 30px;

    }
    .printing_product_wrap .get-sign-with-us-btn{
        text-align: right;   
     }
}

@media screen and (max-width: 768px){
    .printing_product_wrap .dot {
        font-size: 15px;
    }
}

@media screen and (max-width: 396px){
    .printing_product_wrap .dot {
        cursor: pointer;
        height: 25px;
        background-color: transparent;
        border-radius: 0px;
        display: inline-block;
        transition: background-color 0.6s ease;
        padding-top: 5px;
        font-size: 9px;
        margin: 0 2px;

    }
}

@media screen and (max-width: 425px){
    .printing_product_wrap .dot {
       font-size: 11px; 
       margin: 0 2px;
    }
}

@media (min-width: 1200px){
  .h2, h2 {
      font-size: 2rem;
  }
}

.printing_product_wrap .active, .printing_product_wrap .dot:hover {
  background-color: transparent;
  color: whitesmoke;
}

/* Fading animation */


@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .printing_product_wrap .prev, .printing_product_wrap .next,.printing_product_wrap .text {font-size: 11px}
}

/* GRID */
.printing_product_wrap .grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    text-align: center;
    grid-gap: 35px;
    padding-left: 12%;
    padding-right: 70px;
}

@media screen and (max-width: 396px) {
 .printing_product_wrap .grid{
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(3, 1fr);
        text-align: center;
        grid-gap: 20px;
        padding-left: 70px;
        padding-right: 70px;
        display: inline-block;
        
    }
    img{
        height: 300px;
    }

    }


    @media screen and (max-width: 768px) {
        .printing_product_wrap .grid{
               grid-template-columns: repeat(4, 1fr);
               grid-template-rows: repeat(3, 1fr);
               text-align: center;
               grid-gap: 20px;
               padding-left: 70px;
               padding-right: 70px;
               display: inline-block;
               
           }
           .printing_product_wrap img{
               height: 300px;
           }
       
           }




.printing_product_wrap .one {
    grid-column: 1/ span 2;
    grid-row: 1/ span 2;    
    box-shadow: 5px 5px 10px #929292;
    
}



.printing_product_wrap .one img {
    transition: transform 1s ease;
}

.printing_product_wrap .one:hover img {
    transform: scale(1.1);
}


.printing_product_wrap .two {
    grid-column: 3;
    grid-row: 1;
    box-shadow: 5px 5px 10px #929292;
    transition: transform 1s ease;
    
}

.printing_product_wrap .two img {
    transition: transform 1s ease;
}

.printing_product_wrap .two:hover img {
    transform: scale(1.1);
}

.printing_product_wrap .three {
    grid-column: 4;
    grid-row: 1;
    box-shadow: 5px 5px 10px #929292;
    transition: transform 1s ease;
}

.printing_product_wrap .three img {
    transition: transform 1s ease;
}

.printing_product_wrap .three:hover img {
    transform: scale(1.1);
}

.printing_product_wrap .four {
    grid-column: 3;
    grid-row: 2;
    box-shadow: 5px 5px 10px #929292;
    transition: transform 1s ease;
}

.printing_product_wrap .four img {
    transition: transform 1s ease;
}

.printing_product_wrap .four:hover img {
    transform: scale(1.1);
}

.printing_product_wrap .five {
    grid-column: 4;
    grid-row: 2;
    box-shadow: 5px 5px 10px #929292;
    transition: transform 1s ease;
}

.printing_product_wrap .five img {
    transition: transform 1s ease;
}

.printing_product_wrap .five:hover img {
    transform: scale(1.1);
}

.printing_product_wrap .six {
    grid-column: 1;
    grid-row: 3;
    box-shadow: 5px 5px 10px #929292;
    transition: transform 1s ease;
}

.printing_product_wrap .six img {
    transition: transform 1s ease;
}

.printing_product_wrap .six:hover img {
    transform: scale(1.1);
}

.printing_product_wrap .seven {
    grid-column: 2;
    grid-row: 3;
    box-shadow: 5px 5px 10px #929292;
    transition: transform 1s ease;
    
}

.printing_product_wrap .seven img {
    transition: transform 1s ease;
}

.printing_product_wrap .seven:hover img {
    transform: scale(1.1);
}

.printing_product_wrap .eight {
    grid-column: 3;
    grid-row: 3;
    box-shadow: 5px 5px 10px #929292;
    transition: transform 1s ease;
}

.printing_product_wrap .eight img {
    transition: transform 1s ease;
}

.printing_product_wrap .eight:hover img {
    transform: scale(1.1);
}

.printing_product_wrap .nine {
    grid-column: 4;
    grid-row: 3;
    box-shadow: 5px 5px 10px #929292;
    transition: transform 1s ease;
}

.printing_product_wrap .nine img {
    transition: transform 1s ease;
}

.printing_product_wrap .nine:hover img {
    transform: scale(1.1);
}



.printing_product_wrap .persona img{
    height: 700px;
    padding-left: 120px;
}

@media screen and (max-width: 768px) {
.printing_product_wrap .persona img{
    height: 0px;
    padding-left: 100px;
    }
}


.printing_product_wrap .row{
    padding-top: 35px;
}



.printing_product_wrap .get-sign-with-us-btn {
    background: transparent;
    height: auto;
    width: auto;
    font-size: 35px;
    text-transform: uppercase;
    font-weight: 700;
    color: #fff;
    font-family: 'Poppins';
    white-space: nowrap;
    border-radius: 10px;
    border: 2px solid white;
    transition: 0.3s;
    text-decoration: none;
}

@media screen and (max-width: 1440px) {
    .printing_product_wrap .get-sign-with-us-btn {
    background: transparent;
    height: auto;
    width: auto;
    font-size: 35px;
    text-transform: uppercase;
    font-weight: 700;
    color: #fff;
    font-family: 'Poppins';
    white-space: nowrap;
    border-radius: 10px;
    border: 2px solid white;
    transition: 0.3s;
    text-decoration: none;
    }}

  
.printing_product_wrap .get-sign-with-us-btn:hover {
    background: white;
    opacity: 0.8;
    color: #000;
    border: 3px solid black;
}

.printing_product_wrap #iconic {
    font-family: 'Poppins';
    margin-top: 30px;
    margin-bottom: 90px;
}

@media screen and (max-width: 1176px) {
   .printing_product_wrap  #iconic {
        font-family: 'Poppins';
        margin-top: 30px;
        margin-bottom: 90px;
        text-align: justify;
    }}



.printing_product_wrap .get-download-btn2 {
    background: #FF8903;
    color: #fff;
    border-radius: 10px;
    border-top-width: 10px;
    border-top: brown;
    padding: 8px 25px;
    white-space: nowrap;
    transition: 0.3s;
    font-size: 24px;
    text-align: center;
    display: grid;
    }    


.printing_product_wrap #iconic p {
    font-size: 20px;
}


  
.printing_product_wrap .bg-orange {
    background-color: orange;
    color: white;
    display: flex;
}
  
.printing_product_wrap .bg-white {
    background-color: white;
}
  

.printing_product_wrap .tool h3{
    text-align: center;
    font-weight: bold;
    font-size: 45px;
    color: orange;
}

.printing_product_wrap .back-to-top {
    position: fixed;
    visibility: hidden;
    opacity: 0;
    right: 15px;
    bottom: 15px;
    z-index: 996;
    background: #ff8903;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    transition: all 0.4s;
}
  
.printing_product_wrap .back-to-top i {
    font-size: 28px;
    color: #fff;
    line-height: 0;
}
  
  .printing_product_wrap .back-to-top:hover {
    background: #7ed899;
    color: #fff;
}
  
.printing_product_wrap .back-to-top.active {
    visibility: visible;
    opacity: 1;
}




.printing_product_wrap .fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    color: orange;
    align-items: center;
}

.printing_product_wrap .lep {
    width: 20%;
}
  
.printing_product_wrap .mid {
    width: 60%;
    display: flex;
    justify-content: center;
}
  
.printing_product_wrap .rit {
    width: 20%;
    text-align: right;
}

.printing_product_wrap a {
    color: #000;
    text-decoration: none;
    font-size: 18px;
}
  
.printing_product_wrap a:hover {
    color: #ff8903;
    text-decoration: none;
}

.printing_product_wrap .col-sm-2 {
    text-align: center;
    font-size: 100px;
    padding-top: 30px;
  }
  
  @media screen and (max-width: 1024px) {
    .printing_product_wrap .col-sm-2 {
      text-align: center;
      font-size: 100px;
      padding-left: 20px;
  }}
  
  @media screen and (max-width: 768px) {
    .printing_product_wrap .col-sm-2 {
      text-align: center;
      font-size: 100px;
      padding-left: 230px;
  }
    .printing_product_wrap .row #picture {
      padding-left: 150px;
      position: absolute;
    }
  
  }
  
  @media screen and (max-width: 425px) {
    .printing_product_wrap .col-sm-2 {
      text-align: center;
      font-size: 100px;
      padding-left: 120px;
      display: list-item;
  }
    .printing_product_wrap .row #picture {
      padding-left: 50px;
      position: absolute;
    }
  
  }

  .printing_product_wrap #sidebar.active {
    min-width: 80px;
    max-width: 80px;
    text-align: center;
}
.printing_product_wrap #sidebar {
    margin: 0;
    padding: 0;
    width: 30%;
    background-color: #fff;
    height: 100%;
    overflow: auto;
    margin-top: 50px;
    border-right: solid rgb(109, 107, 107) 3px;
  }
  
  .printing_product_wrap #sidebar a {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
    padding-left: 100px;
    font-weight: bold;
    font-size: 30px;
    line-height: 1.5rem;
  }
   
  
  
  .printing_product_wrap #sidebar a:hover:not(.active) {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
  }

/* Toggling the sidebar header content, hide the big heading [h3] and showing the small heading [strong] and vice versa*/
.printing_product_wrap #sidebar .sidebar-header strong {
    display: none;
}
.printing_product_wrap #sidebar.active .sidebar-header h3 {
    display: none;
}
.printing_product_wrap #sidebar.active .sidebar-header strong {
    display: block;
}

.printing_product_wrap #sidebar ul li a {
    text-align: left;
}

.printing_product_wrap #sidebar.active ul li a {
    padding: 20px 10px;
    text-align: center;
    font-size: 0.85em;
}

.printing_product_wrap #sidebar.active ul li a i {
    margin-right:  0;
    display: block;
    font-size: 1.8em;
    margin-bottom: 5px;
}

/* Same dropdown links padding*/
.printing_product_wrap #sidebar.active ul ul a {
    padding: 10px !important;
}

/* Changing the arrow position to bottom center position, 
   translateX(50%) works with right: 50% 
   to accurately  center the arrow */
.printing_product_wrap #sidebar.active .dropdown-toggle::after {
    top: auto;
    bottom: 10px;
    right: 50%;
    -webkit-transform: translateX(50%);
    -ms-transform: translateX(50%);
    transform: translateX(50%);
}
  



/* 1st section */

.printing_product_wrap .virtual-middle{
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
    align-items: center;
    height: auto;
    margin-bottom: -100px;
}

 .printing_product_wrap  #virtual-middle h1{
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: 60px;
}
  
.printing_product_wrap #virtual-middle .row h2:first-child{
    font-size: 25px;
}
  
.printing_product_wrap #virtual-middle .row:nth-child(2) .col-lg-3 h2{  
    font-size: 25px;
    padding: 20px 0px;
    text-align: center;
    font-weight: bold;
    color: black;
}
   
.printing_product_wrap #virtual-middle .row:nth-child(1) .inside{
    background-image: linear-gradient(rgb(255, 255, 255), rgba(160, 160, 160, 0.466)); 
    border-radius: 15px 15px;
    box-shadow: 5px 5px 5px 5px #7d858a;
    margin: 20px 20px;
    text-align: center;
    padding-bottom: 30px;
}

.printing_product_wrap #virtual-middle .row:nth-child(1) .inside:hover {
    background-image: linear-gradient(rgb(255, 255, 255), rgba(244, 152, 64, 1));
}

.printing_product_wrap #virtual-middle .row:nth-child(2) .inside{
    background-image: linear-gradient(rgb(255, 255, 255), rgba(160, 160, 160, 0.466)); 
    border-radius: 15px 15px;
    box-shadow: 5px 5px 5px 5px #7d858a;
    margin: 20px 20px;
    text-align: center;
    padding-bottom: 30px;
}

.printing_product_wrap #virtual-middle .row:nth-child(2) .inside:hover {
    background-image: linear-gradient(rgb(255, 255, 255), rgba(244, 152, 64, 1));
}

.printing_product_wrap #virtual-middle .row:nth-child(3) .inside{
    background-image: linear-gradient(rgb(255, 255, 255), rgba(160, 160, 160, 0.466)); 
    border-radius: 15px 15px;
    box-shadow: 5px 5px 5px 5px #7d858a;
    margin: 20px 20px;
    text-align: center;
    padding-bottom: 30px;
}

.printing_product_wrap #virtual-middle .row:nth-child(3) .inside:hover {
    background-image: linear-gradient(rgb(255, 255, 255), rgba(244, 152, 64, 1));
}
  
.printing_product_wrap #virtual-middle button{
    color: rgb(0, 0, 0);
    background-color: #2480a5;
    padding: 10px 30px;
    border-radius: 5px 5px;
    font-size: 25px;
    font-weight: bold;
    line-height: 30px;
    margin: 40px 0px;
}

.printing_product_wrap .rating {
    border-radius: 999px;
    text-align: center;
    padding: 0 4px;
    width: 120px; /* parent width */
  }
  
 .printing_product_wrap  .star {
    display: inline-block;
    margin-right: -4px;
    padding: 0;
    width: 20%; /* child width */
    font-size: 16px;
  }
  
  .printing_product_wrap .star.checked {
     color: orange;
  }
  

/*--------------------------------------------------------------
# Products
--------------------------------------------------------------*/
.printing_product_wrap .product-grid{
    background-color: #fff;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}
.printing_product_wrap .product-grid .product-image{
    overflow: hidden;
    position: relative;
}
.printing_product_wrap .product-grid .product-image a.image{ display: block; }
.printing_product_wrap .product-grid .product-image img{
    width: 100%;
    height: auto;
}
.printing_product_wrap .product-grid .product-image .pic-1{ transition: all 0.3s ease 0s; }
.printing_product_wrap .product-grid .product-image:hover .pic-1{ transform: translateX(100%); }
.printing_product_wrap .product-grid .product-image .pic-2{
    width: 100%;
    height: 100%;
    transform: translateX(-101%);
    position: absolute;
    top: 0;
    left: 0;
    transition: all 0.3s ease 0s;
}
.printing_product_wrap .product-grid .product-image:hover .pic-2{ transform: translateX(0); }
.printing_product_wrap .product-grid .product-sale-label{
    color: #fff;
    background: #0a805e;
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 2px 8px;
    position: absolute;
    top: 15px;
    left: 15px;
}
.printing_product_wrap .product-grid .product-like-icon{
    color: #696969;
    font-size: 22px;
    line-height: 20px;
    position: absolute;
    top: 15px;
    right: 15px;
}
.printing_product_wrap .product-grid .product-like-icon:hover{ color: #0a805e; }
.printing_product_wrap .product-grid .product-like-icon:before,
.printing_product_wrap .product-grid .product-like-icon:after{
    content: attr(data-tip);
    color: #fff;
    background-color: #000;
    font-size: 12px;
    line-height: 18px;
    padding: 7px 7px 5px;
    visibility: hidden;
    position: absolute;
    right: 0;
    top: 15px;
    transition: all 0.3s ease 0s;
}
.printing_product_wrap .product-grid .product-like-icon:after{
    content: '';
    height: 15px;
    width: 15px;
    padding: 0;
    transform: translateX(-50%) rotate(45deg);
    right: auto;
    left: 50%;
    top: 15px;
    z-index: -1;
}
.printing_product_wrap .product-grid .product-like-icon:hover:before,
.printing_product_wrap .product-grid .product-like-icon:hover:after{
    visibility: visible;
    top: 30px;
}
.printing_product_wrap .product-grid .product-links{
    width: 170px;
    padding: 0;
    margin: 0;
    list-style: none;
    opacity: 0;
    transform: translateX(-50%);
    position: absolute;
    bottom: -50px;
    left: 50%;
    transition: all 0.3s ease 0s;
}
.printing_product_wrap .product-grid:hover .product-links{
    bottom: 40px;
    opacity: 1;
}
.printing_product_wrap .product-grid .product-links li{
    display: inline-block;
    margin: 0 2px;
}
.printing_product_wrap .product-grid .product-links li a{
    color: #fff;
    background: #000;
    font-size: 16px;
    line-height: 48px;
    width: 48px;
    height: 48px;
    border-radius: 10px;
    display: block;
    transition: all 0.3s ease 0s;
}
.printing_product_wrap .product-grid:hover .product-links li a:hover{ background: #333; }
.printing_product_wrap .product-grid .product-content{
    text-align: left;
    padding: 15px 0 0;
}
.printing_product_wrap .product-grid .title{
    font-size: 14px;
    font-weight: 500;
    text-transform: capitalize;
    margin: 0 0 8px;
}
.printing_product_wrap .product-grid .title a{
    color: #333;
    transition: all 0.3s ease 0s;
}
.printing_product_wrap .product-grid .title a:hover{ color: #0a805e; }
.printing_product_wrap .product-grid .price{
    color: #0a805e;
    font-size: 16px;
    font-weight: 500;
}
.printing_product_wrap .product-grid .price span{
    color: #555;
    font-size: 14px;
    font-weight: 400;
    text-decoration: line-through;
    margin: 0 5px 0 0;
}
@media screen and (max-width: 990px){
    .printing_product_wrap .product-grid{ margin: 0 0 30px; }
}

/* New Printing Page */

/************** PRINT PRODUCT *************/
.printing_product_new_wrap .custprintproduct .icon-box {
    margin-bottom: 20px;
}
.printing_product_new_wrap .custprintproduct h2 span {
    color: #db974a;
} 
.printing_product_new_wrap .custprintproduct p {
    text-align: center;
    margin-bottom: 30px;
}
.printing_product_new_wrap .custproductSec h2 {
margin-bottom: 0;
}
.printing_product_new_wrap .custproductSec p {
    margin-bottom: 30px;
    color: #000;
    padding: 0 10%;
}
.printing_product_new_wrap .custproductSecBox {
    width: 100%;
    float: left;
    background: #fff;
    margin-bottom: 20px;
    position: relative;
    transition: transform 0.8s;
    overflow: hidden;
    border-radius: 20px;
    box-shadow: rgba(0,0,0,.5) 0 0 10px;
}
.printing_product_new_wrap .custproductSecBoximg {
    width: 100%;
    min-height: 250px;
    object-fit: cover;
    overflow: hidden;
    position: relative;
    transition: transform 0.8s;
    padding: 10px;
}
.printing_product_new_wrap .custproductSecBoximg:after {
    content: "";
    width: 100%;
    left: 0;
    top: 0;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    position: absolute;
    opacity: 0;
    transition: all linear 0.3s;
}

.printing_product_new_wrap .custproductSecBoximg span {
    display: inline-block;
    padding: 5px 20px;
    border-radius: 30px;
    background: #db974a;
    color: #fff;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 50%;
    border: 1px solid #fff;
    width: 120px;
    z-index: 2;
    opacity: 0;
    transition: transform 0.8s;
    font-size: 12px;
}
.printing_product_new_wrap .custproductSecBoximg img {
    width: 100%;
    transition: transform 0.8s;
}

.printing_product_new_wrap .custproductSecBox:hover  .custproductSecBoximg img {
    transform: scale(1.1);
}
.printing_product_new_wrap .custproductSecBox:hover .custproductSecBoximg::after , .printing_product_new_wrap .custproductSecBox:hover .custproductSecBoximg span {
    opacity: 1;
}
.printing_product_new_wrap .custproductSecBox:hover .custproductSecBoximg span {
}

.printing_product_new_wrap .custproductSecBox h4 {
    color: #000;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
    font-size: 22px;
    padding: 12px 0;
    margin: 0;
    position: relative;
    z-index: 2;
    border-top: 2px solid #db984a;

}
.printing_product_new_wrap .custproductSecBox h4::after {
    content: "";
    width: 101%;
    height: 100%;
    background: #04658f;
    position: absolute;
    left: 0;
    bottom: 0;
    transform: translatey(100%);
    transition: all ease-in-out .3s;
    z-index: -1;
}
.printing_product_new_wrap .custproductSecBox:hover h4:after {
    transform: translatey(0%);
}
.printing_product_new_wrap .custproductSecBox a {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    z-index: 3;
}
.printing_product_new_wrap .custproductSecBox:hover h4 {
    color: #fff;
}

.printing_product_new_wrap .pickfromservices {
    padding: 50px 0  100px 0;
    background: #db984a;
    text-align: center;
}
.printing_product_new_wrap .pickfromservices h2 {
    color: #000;
    font-size: 70px;
    line-height: 70px;
    font-weight: 700;
    margin:  0 0 40px 0;
    
}
.printing_product_new_wrap .pickfromserBox {
    width: 100%;
    background: #fff;
    padding: 40px;
    border-radius: 40px;
    min-height: 310px;
    box-shadow: rgba(0,0,0,.67) 0 0 13px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    transition: all ease-in-out .3s;
    position: relative;
    overflow: hidden;
}

.printing_product_new_wrap .pickfromserBox::after {
    content: "";
    width: 100%;
    height: 100%;
    background: #04658f;
    position: absolute;
    z-index: 1;
    transform: translatey(100%);
    transition: all ease-in-out .3s;
}
.printing_product_new_wrap .pickfromserBox:hover::after {
    transform:translatey(50%);
}
.pickfromserBox:hover h4 {
color: #fff;
}
.printing_product_new_wrap .pickfromservices .col-xl-3 {
    padding: 0 8px;
}
.printing_product_new_wrap .pickfromserBoxicon {
    position: relative;
    z-index: 2;
}
.printing_product_new_wrap .pickfromserBox h4 {
    width: 100%;
    font-size: 20px;
    color: #000;
    font-weight: 600;
    position: relative;
    z-index: 2;
    transition: all ease-in-out .3s;
}

.printing_product_new_wrap .pickfromserBox a {
    display: inline-block;
    background: #04658f;
    color: #fff;
    text-align: center;
    padding: 5px 30px;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
    border-radius: 20px;
    letter-spacing: 1px;
    border: 2px solid #fff;
    position: relative;
    z-index: 2;
    transition: all ease-in-out .3s;
}
.printing_product_new_wrap .pickfromserBox a:hover , .printing_product_new_wrap .pickfromserBox a:focus {
    background: #db984a;
    color: #fff;
}
.printing_product_new_wrap .pickfromserBoxicon img {
    height:100px;
}
.printing_product_new_wrap .pickfromservices .row {
    padding: 0 7px;
}

.printing_product_new_wrap .custhowvirtual h2 {
    color: #fff;
font-size: 70px;
line-height: 70px;
font-weight: 700;
margin: 0 0 40px 0;
}
.printing_product_new_wrap .custhowvirtual h2 span {
    display: inline-block;
    width: 100%;
    font-size: 50px;
    font-weight: 500;
}
.printing_product_new_wrap .custhowvirtual .content-div p{
    width: 100%;
    margin-bottom: 25px;
}
.printing_product_new_wrap .custhowvirtual .content-div h3 {
    margin-top: 10px;
}
.printing_product_new_wrap .custhowvirtual .content-div {
    min-height: 220px;
text-align: center;
display: flex;
align-items: center;
flex-wrap: wrap;
}
.printing_product_new_wrap .custhowvirtual .customBtn {
    margin: 100px 0 0px 0;
    padding: 12px 40px;
}
.printing_product_new_wrap .custhowvirtual .love-text:hover {

}
.printing_product_new_wrap .custhowvirtualImg img {
    transition: all ease-in-out .3s;
}
.printing_product_new_wrap .custhowvirtualImg {
    overflow: hidden;
}
.printing_product_new_wrap .custhowvirtual .love-text:hover .custhowvirtualImg img {
    transform: scale(1.1);
}
.printing_product_new_wrap .custombdr {
    padding: 0;
    margin: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
    width: 100%;
}
.printing_product_new_wrap .custombdr ul {
padding: 0;
margin: 0;
}
.printing_product_new_wrap .custombdr ul li {
    list-style: none;
    display: inline-block;
    width: 20%;
    height: 20px;
    float: left;
}
.printing_product_new_wrap .custombdr ul li:nth-child(1) {background: #ee3c3a;}
.printing_product_new_wrap .custombdr ul li:nth-child(2) {background: #086eb9;}
.printing_product_new_wrap .custombdr ul li:nth-child(3) {background: #4fb52d;}
.printing_product_new_wrap .custombdr ul li:nth-child(4) {background: #4c31a2;}
.printing_product_new_wrap .custombdr ul li:nth-child(5) {background: #f1b547;}

.printing_product_new_wrap section.services.section-bg.Support-team h2 {
    text-align: center;
    color: #0573a4;
    font-size: 70px;
    line-height: 70px;
    font-weight: 700;
}
.printing_product_new_wrap section.services.section-bg.Support-team h5 {
    text-align: center;
    color: #000;
    font-weight: 400;
    font-size: 25px;
    margin-bottom: 40px;
}
.printing_product_new_wrap section.services.section-bg.Support-team img {
    width: 20%;
    text-align: center;
}
.printing_product_new_wrap section.services.section-bg.Support-team .icon-box {
    text-align: center;
    box-shadow: 0 0 7px #a9a9a9;
}
.printing_product_new_wrap section.services.section-bg.Support-team .icon-box h4 {
    margin-left: 0;
    font-weight: 700;
    margin-bottom: 15px;
    font-size: 18px;
    text-transform: uppercase;
    color: #000;
    margin-top: 20px;
    line-height: 27px;
}
.printing_product_new_wrap section.services.section-bg.Support-team .icon-box p {
    margin-left: 0px;
    line-height: 24px;
    font-size: 15px;
    color: #000;
}

.printing_product_new_wrap section.services.section-bg.Support-team .icon-box h4 br {
    display: none;
}
.printing_product_new_wrap .readmoreBtn {
    display: inline-block;
    color: #db974a;
    font-size: 14px;
    position: relative;
}
.printing_product_new_wrap .readmoreBtn:after {
    content: "\f101";
    font-family: "FontAwesome";
    display: inline-block;
    vertical-align: middle;
    margin: 0 0 0 4px;
}
.printing_product_new_wrap .readmoreBtn:hover, .printing_product_new_wrap .readmoreBtn:focus {
    color: #0573a4;
}
section.services.section-bg.Support-team .icon-box:hover {
    background: #db974a;
}
section.services.section-bg.Support-team .icon-box:hover a {
    color: #000;
}
.printing_product_new_wrap .enter-train {
    background: #f1f1f1;
}

.printing_product_new_wrap .customicon {
    display: inline-block;
    font-size: 40px;
    color: #000;
    border-bottom: 3px solid transparent;
    margin: -20px 0 10px 0;
    width: 100%;
}
.printing_product_new_wrap .enter-t:hover .customicon {
    border-color: #fff !important;
}
.printing_product_new_wrap .custlogosrow {
    width: 100%;
    float: left;
}
.printing_product_new_wrap .custlogosrow ul {
    padding: 0 10%;
    margin: 0;
}
.printing_product_new_wrap .custlogosrow ul li {
    list-style: none;
    width: 20%;
    float: left;
    text-align: center;
    margin: 0 0 15px 0;
}
.printing_product_new_wrap .custlogosrow ul li img {
    width: auto;
    height: 100px;
    filter: grayscale(100%);
    filter: gray;
    transition: all ease-in-out .3s;
}
.printing_product_new_wrap .custlogosrow ul li:hover img {
    filter: grayscale(0%);
    -webkit-filter: grayscale(0%);
    -moz-filter: grayscale(0%);
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
}
.printing_product_new_wrap .custtestmonial {
    width: 100%;
    text-align: center;
    padding: 0 10%;
}
.printing_product_new_wrap .custtestmonial .cl-img {
    text-align: center;
}

/*--------------------------------------------------------------
# Services
--------------------------------------------------------------*/
.printing_product_new_wrap .services .icon-box {
    padding: 30px;
    border-radius: 6px;
    background: #fff;
    transition: ease-in-out 0.3s;
}
.printing_product_new_wrap .services .icon-box i {
    float: left;
    color: #3498db;
    font-size: 40px;
    line-height: 0;
}
.printing_product_new_wrap .services .icon-box h4 {
    margin-left: 70px;
    font-weight: 700;
    margin-bottom: 15px;
    font-size: 18px;
}
.printing_product_new_wrap .services .icon-box h4 a {
    color: #000;
    transition: 0.3s;
}
.printing_product_new_wrap .services .icon-box p {
    margin-left: 70px;
    line-height: 24px;
    font-size: 14px;
}
.printing_product_new_wrap .services .icon-box:hover {
    box-shadow: 0px 2px 22px rgba(0, 0, 0, 0.08);
}
.printing_product_new_wrap .services .icon-box:hover h4 a {
    color: #3498db;
}
.printing_product_new_wrap h6.service-btn {
    text-align: center;
    font-weight: 400;
    margin-top: 25px;
    margin-bottom: 25px;
}
.printing_product_new_wrap h6.service-btn a {
    background: #0573a4;
    color: #fff;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 17px;
    line-height: normal;
    letter-spacing: 2px;
    display: inline-block;
    padding: 12px 50px;
    border-radius: 30px;
    transition: ease-in-out 0.3s;
    color: #fff;
}
.printing_product_new_wrap h6.service-btn a:hover, .printing_product_new_wrap h6.service-btn a:focus {
    background: #db974a;
    color: #fff;
}

/*Slider*/

.printing_product_new_wrap .printslilder {
    width: 100%;
}
.printing_product_new_wrap .printslilder .item {
    background-size: cover !important;
    background-position: center !important;
    height: 55vh;
    background-color: #192a48 !important;
    background-repeat: no-repeat !important;
    background-size:contain !important;
}
.printing_product_new_wrap .printslildermain {
    position: relative;
    top: 0%;
    left: 50%;
    width: 100%;
    transform: translateX(-50%);
    /*padding: 250px 0;*/
    padding:100px 0 !important;
}
.printing_product_new_wrap .printslildermain h1 {
    margin: 0 0 10px 0;
    font-size: 80px;
    font-weight: 700;
    line-height: 80px;
    color: #fff;
    text-transform: uppercase;
}
.printing_product_new_wrap .printslildermain h1 span {
    color: #db974a;
}
.printing_product_new_wrap .printslildermain h4 {
    color: #fff;
    margin-bottom: 80px;
    font-size: 1.5rem;
    line-height: 32px;
}

.printing_product_new_wrap .printslilder img {
    width: 100%;
}
.printing_product_new_wrap .printslilder .owl-controls .owl-nav {
    display: none;
}
.printing_product_new_wrap .printslildermain .customBtn {
background: #db974a;
}
.printing_product_new_wrap .printslildermain .customBtn:hover {
background: #fff;
color: #000;
}
.printing_product_new_wrap .printslilder .owl-theme .owl-controls {
    margin-top: -40px;
    position: relative;
    z-index: 2;
}

.printing_product_new_wrap .owl-carousel .animated {
    -webkit-animation-duration:1000ms;
    animation-duration:1000ms;
    -webkit-animation-fill-mode:both;
    animation-fill-mode:both
}
.printing_product_new_wrap .owl-carousel .owl-animated-in {
    z-index:0
}
.printing_product_new_wrap .owl-carousel .owl-animated-out {
    z-index:1
}
.printing_product_new_wrap .owl-carousel .fadeOut {
    -webkit-animation-name:fadeOut;
    animation-name:fadeOut
}

@-webkit-keyframes fadeOut {
0% {
opacity:1
}
100% {
opacity:0
}
}
@keyframes fadeOut {
0% {
opacity:1
}
100% {
opacity:0
}
}

.printing_product_new_wrap .owl-height {
    -webkit-transition:height 500ms ease-in-out;
    -moz-transition:height 500ms ease-in-out;
    -ms-transition:height 500ms ease-in-out;
    -o-transition:height 500ms ease-in-out;
    transition:height 500ms ease-in-out
}
.printing_product_new_wrap .owl-carousel {
    display:none;
    width:100%;
    -webkit-tap-highlight-color:transparent;
    position:relative;
    z-index:1
}
.printing_product_new_wrap .owl-carousel .owl-stage {
    position:relative;
    -ms-touch-action:pan-Y
}
.printing_product_new_wrap .owl-carousel .owl-stage:after {
    content:".";
    display:block;
    clear:both;
    visibility:hidden;
    line-height:0;
    height:0
}
.owl-carousel .owl-stage-outer {
    position:relative;
    overflow:hidden;
    -webkit-transform:translate3d(0px, 0, 0)
}
.printing_product_new_wrap .owl-carousel .owl-controls .owl-dot, .printing_product_new_wrap .owl-carousel .owl-controls .owl-nav .owl-next, .printing_product_new_wrap .owl-carousel .owl-controls .owl-nav .owl-prev {
    cursor:pointer;
    cursor:hand;
    -webkit-user-select:none;
    -khtml-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
}
.printing_product_new_wrap .owl-carousel.owl-loaded {
    display:block
}
.printing_product_new_wrap .owl-carousel.owl-loading {
    opacity:0;
    display:block;
}
.printing_product_new_wrap .owl-carousel.owl-hidden {
    opacity:0;
}
.printing_product_new_wrap .owl-carousel .owl-refresh .owl-item {
    display:none
}
.printing_product_new_wrap .owl-carousel .owl-item {
    position:relative;
    min-height:1px;
    float:left;
    -webkit-backface-visibility:hidden;
    -webkit-tap-highlight-color:transparent;
    -webkit-touch-callout:none;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
}
.printing_product_new_wrap .owl-carousel .owl-item img {
    display:block;
    width:100%;
    -webkit-transform-style:preserve-3d
}
.printing_product_new_wrap .owl-carousel.owl-text-select-on .owl-item {
    -webkit-user-select:auto;
    -moz-user-select:auto;
    -ms-user-select:auto;
    user-select:auto;
}
.printing_product_new_wrap .owl-carousel .owl-grab {
    cursor:move;
    cursor:-webkit-grab;
    cursor:-o-grab;
    cursor:-ms-grab;
    cursor:grab;
}
.printing_product_new_wrap .owl-carousel.owl-rtl {
    direction:rtl
}
.printing_product_new_wrap .owl-carousel.owl-rtl .owl-item {
    float:right
}
.printing_product_new_wrap .no-js .owl-carousel {
    display:block
}
.printing_product_new_wrap .owl-carousel .owl-item .owl-lazy {
    opacity:0;
    -webkit-transition:opacity 400ms ease;
    -moz-transition:opacity 400ms ease;
    -ms-transition:opacity 400ms ease;
    -o-transition:opacity 400ms ease;
    transition:opacity 400ms ease;
}
.printing_product_new_wrap .owl-carousel .owl-item img {
    transform-style:preserve-3d
}
.printing_product_new_wrap .owl-carousel .owl-video-wrapper {
    position:relative;
    height:100%;
    background:#000;
}
.printing_product_new_wrap .owl-carousel .owl-video-play-icon {
    position:absolute;
    height:80px;
    width:80px;
    left:50%;
    top:50%;
    margin-left:-40px;
    margin-top:-40px;
    background:url(owl.video.play.png) no-repeat;
    cursor:pointer;
    z-index:1;
    -webkit-backface-visibility:hidden;
    -webkit-transition:scale 100ms ease;
    -moz-transition:scale 100ms ease;
    -ms-transition:scale 100ms ease;
    -o-transition:scale 100ms ease;
    transition:scale 100ms ease
}
.printing_product_new_wrap .owl-carousel .owl-video-play-icon:hover {
    -webkit-transition:scale(1.3, 1.3);
    -moz-transition:scale(1.3, 1.3);
    -ms-transition:scale(1.3, 1.3);
    -o-transition:scale(1.3, 1.3);
    transition:scale(1.3, 1.3)
}
.printing_product_new_wrap .owl-carousel .owl-video-playing .owl-video-play-icon, .printing_product_new_wrap .owl-carousel .owl-video-playing .owl-video-tn {
    display:none;
}
.printing_product_new_wrap .owl-carousel .owl-video-tn {
    opacity:0;
    height:100%;
    background-position:center center;
    background-repeat:no-repeat;
    -webkit-background-size:contain;
    -moz-background-size:contain;
    -o-background-size:contain;
    background-size:contain;
    -webkit-transition:opacity 400ms ease;
    -moz-transition:opacity 400ms ease;
    -ms-transition:opacity 400ms ease;
    -o-transition:opacity 400ms ease;
    transition:opacity 400ms ease
}
.printing_product_new_wrap .owl-carousel .owl-video-frame {
    position:relative;
    z-index:1;
}
.owl-theme .owl-controls {
    margin-top:10px;
    text-align:center;
    -webkit-tap-highlight-color:transparent
}
.printing_product_new_wrap .owl-theme .owl-controls .owl-nav [class*=owl-] {
    color:#fff;
    font-size:14px;
    margin:5px;
    padding:4px 7px;
    background:#d6d6d6;
    display:inline-block;
    cursor:pointer;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:3px
}
.printing_product_new_wrap .owl-theme .owl-controls .owl-nav [class*=owl-]:hover {
    background:#869791;
    color:#fff;
    text-decoration:none
}
.printing_product_new_wrap .owl-theme .owl-controls .owl-nav .disabled {
    opacity:.5;
    cursor:default
}
.printing_product_new_wrap .owl-theme .owl-dots .owl-dot {
    display:inline-block;
    zoom:1;
*display:inline
}
.printing_product_new_wrap .owl-theme .owl-dots .owl-dot span {
    width:10px;
    height:10px;
    margin:5px 7px;
    background:#fff;
    display:block;
    -webkit-backface-visibility:visible;
    -webkit-transition:opacity 200ms ease;
    -moz-transition:opacity 200ms ease;
    -ms-transition:opacity 200ms ease;
    -o-transition:opacity 200ms ease;
    transition:opacity 200ms ease;
    -webkit-border-radius:30px;
    -moz-border-radius:30px;
    border-radius:30px
}
.printing_product_new_wrap .owl-theme .owl-dots .owl-dot.active span, .printing_product_new_wrap .owl-theme .owl-dots .owl-dot:hover span {
    background:#3498db;
    
}
.printing_product_new_wrap .owl-theme .owl-dots .owl-dot.active span {
    width: 30px;
}

.printing_product_new_wrap .customBtn {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 2px;
    display: inline-block;
    padding: 12px 70px;
    border-radius: 30px;
    transition: ease-in-out 0.3s;
    color: #fff;
    background: #04658f;
}
.printing_product_new_wrap .customBtn:hover , .printing_product_new_wrap .customBtn:focus {
    background: #db974a;
    color: #fff;
}